<template>
    <v-container >
        <v-card class="elevation-12">
            <v-toolbar color="white">
                <v-toolbar-title> Contact List </v-toolbar-title>
                <v-spacer></v-spacer>
            </v-toolbar>
            <v-data-table
                    :items="contact"
                    :headers="headers"
                    :options.sync="pagination"
                    :server-items-length="total"
                    :items-per-page-options ="pageSize"
                    :loading="loading">
                <template slot="items" slot-scope="props">
                    <tr>
                        <td>{{ props.index +1 + ((pagination.page-1) * pagination.rowsPerPage) }}</td>
                        <td>{{ props.item.name }}</td>
                        <td>{{ props.item.email }}</td>
                        <td>{{ props.item.message }}</td>
                        <td>{{ props.item.subject }}</td>
                        <td class="justify-center">
                        </td>
                    </tr>
                </template>
                <template slot="no-data">
                    <v-alert :value="true" color="error" icon="mdi-alert">
                        Sorry, No Contacts Yet.
                    </v-alert>
                </template>
            </v-data-table>
        </v-card>

    </v-container>
</template>

<script>
    import { mapGetters, mapActions,mapState} from 'vuex';
    export default {
        name: "contact",
        layout: 'admin',
        async asyncData({app,params}){
            const {data} = await app.$axios.get('/contact')
            //console.log(data)
            return {
                contact: data.data,
            }

        },
        props:{
            msg:String
        },

        data(){
            return {
                headers: [
                    {text: 'SN',sortable: false,value:'sn'},
                    {text: 'Name', sortable: true, value:'name'},
                    {text: 'Email', sortable: true, value:'email'},
                    {text: '  Message', sortable: true, value:'message'},
                    {text: 'Subject ', sortable: true, value:'subject'},
                ],
                total:0,
                search:null,
                pagination: {},
                loading: true,
                contact:[],
            }
        },
        created: function(){

        },
        mounted(){
        },
        computed: {
            ...mapGetters({
            }),

        },
        watch: {
            pagination() {
                this.getContactByPagination();
            },
            search(){
                this.getContactByPagination();
            },

        },
        methods:{
            getContactByPagination(){
                this.loading = true;
                const { sortBy, descending, page, rowsPerPage } = this.pagination
                this.pagination.limit = rowsPerPage;
                if(this.search){
                    this.pagination.title = this.search;
                }
                this.$axios.get('contact').then(response => {
                    this.contact = response.data.data;
                    this.total = response.data.meta.total;
                    this.loading = false;
                })


            },


        }
    }
</script>

<style scoped>
    .height-inherit{
        height: inherit;
    }
</style>
