<template>
    <v-container >
        <v-card class="elevation-12">
            <v-toolbar color="white">
                <v-toolbar-title>Edit/Delete Users</v-toolbar-title>
                <v-spacer></v-spacer>

                <v-toolbar-items>
                    <v-btn text :to="{name: 'admin-user-id',params:{id:'create'}}">Create a User</v-btn>
                </v-toolbar-items>
                <v-toolbar-items>
                    <v-text-field
                            v-model="search"
                            light
                            prepend-icon=" mdi-magnify"
                            placeholder="Type keyword...">
                    </v-text-field>
                </v-toolbar-items>

            </v-toolbar>
            <v-data-table
                    :items="users"
                    :headers="headers"
                    :options.sync="pagination"
                    :server-items-length="total"
                    :items-per-page-options ="pageSize"
                    :loading="loading">
                <template v-slot:items="props">
                    <td>{{ props.index +1 + ((pagination.page-1) * pagination.itemsPerPage) }}</td>

                    <td>{{ props.item.name }}</td>
                    <td>{{ props.item.email }}</td>
                    <td>{{ props.item.roles[0].display_name}}</td>
                    <td class="justify-center">
                        <nuxt-link :to="{name: 'admin-user-id',params: {id: props.item.id}}">
                            <v-icon color="primary" small class="mr-2"  >
                                mdi-pencil
                            </v-icon>
                        </nuxt-link>
                        <v-icon color="red" @click="deleteUser(props.item)" small >
                            mdi-delete
                        </v-icon>
                    </td>
                </template>

                <template slot="no-data">
                    <v-alert :value="true" color="error" icon="mdi-alert">
                        Sorry, No Users Yet.
                    </v-alert>
                </template>
            </v-data-table>



        </v-card>
        <confirm ref="confirm"></confirm>
    </v-container>
</template>

<script>
    import { mapGetters, mapActions,mapState} from 'vuex';
    import Confirm from "../../../components/Confirm";

    export default {
        name: "users",
        layout: 'admin',
        async asyncData ({ params, app }) {
            const {data} = await app.$axios.get('/user')
            return {
                users: data.data,
                loading: false
            }
        },
        props:{
            msg:String
        },

        components: {
            Confirm
        },
        data(){
            return {
                headers: [
                    {text: 'SN',sortable: false, icon:' mdi-chevron-up',value:'sn'},
                    {text: 'Name', sortable: true, value:'name'},
                    {text: 'Email', sortable: true, value:'email'},
                    {text: 'Role', sortable: true, value:'role'},
                    {text: 'Actions', sortable: false},
                ],
                //users:[],
                total:0,
                search:null,
                pagination: {},
                loading: true

            }
        },
        created: function(){

        },
        mounted(){
        },
        computed: {
        },
        watch: {
            pagination() {
                this.getUsersByPagination();
            },
            search(){
                this.getUsersByPagination();
            }

        },
        methods:{
            getUsersByPagination(){
                this.loading = true;
                const { sortBy, descending, page, itemsPerPage } = this.pagination
                this.pagination.limit = itemsPerPage;
                if(this.search){
                    this.pagination.title = this.search;
                }
                this.$axios.get('/user', this.pagination)
                    .then(response =>{
                        //this.$store.dispatch('fetchTags',this.pagination)
                        //  .then(response => {
                        this.loading = false;
                        this.users = response.data.data;
                        this.total = response.data.meta.total;
                    })


            },

            deleteUser(item){

                this.$refs.confirm.open('Delete '+item.title,'Are you sure?',{color:'red'})
                    .then((confirm) => {
                        if(confirm){
                            //if true, call delete end point
                            this.$axios.delete('/user/'+item.id)
                                .then(response =>{
                                    this.$store.dispatch('app/showSuccessSnackbar',"User was deleted");
                                    this.getUsersByPagination();
                                    this.loading = false

                                })
                                .catch(error => {
                                    this.$store.dispatch('app/showErrorSnackbar',error);
                                })
                        }
                    })
            }

        }
    }
</script>

<style scoped>
    .height-inherit{
        height: inherit;
    }
</style>
