<template>
  <v-container>
    <v-layout>
      <v-flex text-xs-center>
        <img
          src="/v.png"
          alt="Vuetify.js"
          class="mb-5"
        >
        <blockquote class="blockquote">
          &#8220;First, solve the problem. Then, write the code.&#8221;
          <footer>
            <small>
              <em>&mdash;John Johnson</em>
            </small>
          </footer>
        </blockquote>
      </v-flex>
    </v-layout>
  </v-container>

</template>

<script>
  export default {
    layout:'admin',
    methods: {

      getPost(){

      }
    },
    created() {
      this.getPost();
    }
  }
</script>
