<template>
    <div id="headertem">
        <!-- navbar -->
        <b-navbar toggleable="lg" type="dark">
            <b-navbar-brand><nuxt-link to="/">
                <img :src="site.logo" v-if="site.logo" class="logo"><span v-else>Logo</span>
            </nuxt-link></b-navbar-brand>

            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

            <b-collapse id="nav-collapse" is-nav>
                <b-navbar-nav class="mainnav">
                    <b-nav-item to="/">Home</b-nav-item>
                    <b-nav-item to="/about-us">About Us</b-nav-item>
                    <b-nav-item to="/#features">Features</b-nav-item>
                    <b-nav-item to="/#blogs">Blogs</b-nav-item>
                    <b-nav-item><nuxt-link to="/contact-us">Contact Us</nuxt-link></b-nav-item>
                </b-navbar-nav>

                 <!--Right aligned nav items -->
                <b-navbar-nav class="ml-auto rightnav mr-4">
                    <span v-if="site.telephone"><v-icon>mdi-phone mr-2</v-icon>{{site.telephone}}</span>
                    <span v-if="site.email"><v-icon>mdi-email mr-2</v-icon>{{site.email}}</span>
                </b-navbar-nav>
                <!-- end Right aligned nav -->
            </b-collapse>
        </b-navbar>
        <!-- end navbar -->

    </div>
</template>

<script>
    export default {
        name: "SiteHeader.vue",
        data(){
            return{
                site:[],
                comingDate:'2020-1-1 00:00:00',
                coming:'',
                dashboard_route:null,
            }
        },
        async created(){
            const sites = await this.$axios.get('/site');
            const site =sites.data.data;
            //console.log(site)
            this.site=site;

        },
        methods:{
            logout() {
                this.$auth.logout();
            },
        }
    }
</script>

<style scoped lang="scss">
    $primaryOrange:#f26226;
    $primaryBlue:#339AF0;
    $lightBlue:#1854AF;
    $fontMoon: 'Montserrat', sans-serif;
    $fontCabin:  'Cabin', sans-serif;
    .h2-style {
        font-size: 22px;
        line-height: 26px;
        color: #333;
    }

    .h3-style{
        color: #fff;
        font-size: 2rem;
        font-weight: bolder;
        margin-bottom: 1.2rem;
    }
    .navbar{
        background: #339AF0;
        .logo{
            width:100px;
            height:80px;
        }
        .mainnav{
            margin-left: 5rem;
            a {
                color:#ffffff;
                margin-right: 2rem;
                font-size: 15px;
                font-weight: 500;
                font-family: $fontMoon;

            }

        }
        .rightnav{
            span{
                margin-right: 1rem;
                color: #ffffff;
                font-size: 13px;
            }
            span:nth-of-type(2){
                margin-right: 0rem;
            }
        }
        .navbar-brand{
            .logo{
                height: 90px;
                width: 120px;
            }
        }
        a{
            color: #F6A72A;
            &:hover{
                text-decoration: none;
                color: #fff;
            }
        }
        ::v-deep #servenav span {
            color: #F6A72A!important;
        }
    }



</style>
