<template>
    <footer>
        <div class="footer">
            <div class="container-fluid">
                <div class="row pt-3">
                    <div class="col-md-12 text-center">
                        <p>© 2020 Loreum ipsum footer link <nuxt-link to="/admin">Admin Login</nuxt-link><a href="https://dreamsys.com.np" target="_blank" class="company">Design By: Dreamsys</a></span></p>

                    </div>
                </div>
            </div>
        </div>
    </footer>
    
</template>

<script>
    export default {
        name: "SiteFooter.vue"
    }
</script>

<style scoped lang="scss">
    footer{
        background: #0056B3;
        .footer{
            p{
                font-size: 13.5px;
                color: #ffffff;
                font-family: 'Montserrat', sans-serif;
                a{
                    color: #ffffff;
                    text-decoration: none;
                    margin-left: 15px;
                    margin-right: 15px;
                    &:hover{
                        text-decoration: none;
                    }

                }
                a:nth-of-type(2){
                    color: #999999;
                    margin-right: 0px;
                }

            }
        }
    }

</style>