<template>
    <v-container v-if="tag">
        <v-card class="elevation-12">
            <v-card-title  v-if="!reuse">
                <div>
                    <h3 class="headline">{{title}}</h3>

                </div>
            </v-card-title>
            <v-card-text>

                <v-form ref="tag" v-model="valid">
                    <v-container grid-list-md text-md-center>
                        <v-row row wrap align-center>
                            <input type="hidden" v-model="tag.id"/>
                            <v-col md="12">
                                <v-text-field
                                        name="tag"
                                        label="Tag *"
                                        type="text"
                                        v-model="tag.title"
                                        :rules="requiredRules"
                                        v-validate
                                        data-vv-name="title"
                                        :error-messages="errors.first('title')"
                                ></v-text-field>
                            </v-col>
                            <v-col md="12">
                                <v-text-field
                                        name="description"
                                        label="Description"
                                        type="text"
                                        v-model="tag.description"
                                        v-validate
                                        data-vv-name="description"
                                        :error-messages="errors.first('description')"
                                ></v-text-field>
                            </v-col>


                        </v-row>
                    </v-container>

                </v-form>

            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>

                <v-btn color="primary" :disabled="!valid || loading" @click="saveTag">Save
                    <v-icon v-if="loading">fas fa-circle-notch fa-spin</v-icon>
                </v-btn>
                <v-btn @click="$router.go(-1)">Cancel

                </v-btn>

            </v-card-actions>

        </v-card>
    </v-container>

</template>

<script>
    import { mapGetters} from 'vuex';

    export default {
        name: "id",
        layout: 'admin',
        async asyncData({app,params}){
            if(params.id ==='create'){
                //store.dispatch('tag/clearCategory');
                return {
                    id:params.id,
                    tag: {}
                }
            }
            else {
                const {data} = await app.$axios.$get('/tag/'+params.id)
                // copies the deep clone since mutation in not permitted
                return {
                    id: params.id,
                    tag: data
                }
            }
        },
        props: ['reuse'],
        inject: ['$validator'],
        data() {
            return {
                alert: false,
                valid: true,
                requiredRules: [
                    v => !!v || 'Required field'
                ],
                tag:{},
                id: null,
                monthMenu: false,
                formData:null
            }
        },
        created: function(){
            // this.fetchTag()

        },
        mounted(){

        },
        methods:{
            fetchTag(){
                if(this.id){
                    if(this.id ==='create'){
                        this.$store.dispatch('clearTag');

                    }
                    else {
                        this.$store.dispatch('fetchTag',this.id)
                            .then(response => {
                                this.tag = response.data.data;
                            })
                    }
                }
            },
            saveTag(){
                if(this.$refs.tag.validate()){
                    //this.$store.dispatch('saveTag',this.tag).then(response => {
                    if(this.tag.id){
                        this.$axios.put('/tag/'+this.tag.id,this.tag).then(response=>{
                            this.$store.dispatch('app/showSuccessSnackbar','Tag was edited successfully');
                            this.$router.push({name:'admin-tag'});
                        }).catch(error => {
                            if(error.response.status === 422 || error.response.status === 400){
                                for(let key in error.response.data){
                                    // we are fetching only first error
                                    this.$validator.errors.add({field: key, msg: error.response.data[key][0]})
                                }
                            }
                        })
                    }else {
                        this.$axios.post('/tag/',this.tag).then(response=>{
                            if(response.status === 201){
                                if(this.reuse){
                                    this.$store.dispatch('app/showSuccessSnackbar','Tag was created successfully');
                                    this.$emit('created-tag',response.data);

                                }else{
                                    this.$store.dispatch('app/showSuccessSnackbar','Tag was created successfully');
                                    this.$router.push({name:'admin-tag'});
                                }
                            }
                        }).catch(error => {
                            if(error.response.status === 422 || error.response.status === 400){
                                for(let key in error.response.data){
                                    // we are fetching only first error
                                    this.$validator.errors.add({field: key, msg: error.response.data[key][0]})
                                }
                            }
                        })
                    }

                }
            },
            onFileChange(fieldName, file) {
                const { maxSize } = this
                let tagFile = file[0]
                if (file.length>0) {
                    // let size = tagFile.size / maxSize / maxSize
                    // Append file into FormData and turn file into image URL
                    this.formData = new FormData()
                    let imageURL = URL.createObjectURL(tagFile)
                    this.formData.append(fieldName, tagFile)
                    // Emit the FormData and image URL to the parent component
                }
            }
        },
        computed: {
            ...mapGetters([
                'loading','getTag'
            ]),
            title(){
                if(this.tag.id){
                    return "Edit "+ this.tag.title
                }
                else
                    return "Create Tag"


            },
            loading(){
                return this.$store.getters.loading;
            }
        }
    }
</script>

<style scoped>

</style>

