`<template>
    <v-container >
        <v-card class="elevation-12">
            <v-toolbar color="white">
                <v-toolbar-title>Create/Edit/Delete Tags</v-toolbar-title>
                <v-spacer></v-spacer>

                <v-toolbar-items>
                    <v-btn text :to="{name: 'admin-tag-id', params:{id:'create'}}">Create a Tag</v-btn>
                </v-toolbar-items>
                <v-toolbar-items>
                    <v-text-field
                            v-model="search"
                            light
                            prepend-icon="mdi-magnify"
                            placeholder="Type keyword...">
                    </v-text-field>
                </v-toolbar-items>

            </v-toolbar>
            <v-data-table
                    :items="tags"
                    :headers="headers"
                    :options.sync="pagination"
                    :server-items-length="total"
                    :items-per-page-options ="pageSize"
                    :loading="loading">
                <template v-slot:item="props">
                    <tr>
                        <td>{{ props.index +1 + ((pagination.page-1) * pagination.itemsPerPage) }}</td>
                        <!--<td>
                            <router-link :to="{name: 'tag',params: {id: props.item.id}}">
                                {{props.item.id}}
                            </router-link>
                        </td>-->
                        <td>{{ props.item.title }}</td>
                        <td>{{ props.item.description }}</td>
                        <td class="justify-center">
                            <nuxt-link :to="{name: 'admin-tag-id',params: {id: props.item.id}}">
                                <v-icon color="primary" small class="mr-2"  >
                                    mdi-pencil
                                </v-icon>
                            </nuxt-link>
                            <v-icon color="red" @click="deleteTag(props.item)" small >
                                mdi-delete
                            </v-icon>
                        </td>
                    </tr>
                </template>

                <template slot="no-data">
                    <v-alert :value="true" color="error" icon="mdi-alert">
                        Sorry, No Tags Yet.
                    </v-alert>
                </template>
            </v-data-table>
        </v-card>
        <confirm ref="confirm"></confirm>
    </v-container>
</template>

<script>
    //import axios from 'axios';
    import { mapGetters, mapActions} from 'vuex';
    import Confirm from "../../../components/Confirm";

    export default {
        name: "tags",
        layout: 'admin',
        props:{
            msg:String
        },
        components: {
            Confirm
        },
        data(){
            return {
                headers: [
                    {text: 'SN',sortable: false,value:'sn'},
                    {text: 'Title', sortable: true, value:'title'},
                    {text: 'Description', sortable: true, value:'description'},
                    {text: 'Actions', sortable: false},
                ],
                tags:[],
                total:0,
                search:null,
                pagination: {},
                loading: true

            }
        },
        created: function(){


        },
        mounted(){
            this.getTagsByPagination();

        },
        computed: {
            ...mapGetters([
                'getTags',
            ]),
            excelFileName(){
                return 'Taglist '+ new Date().toDateString()+'.xlsx'
            }
        },
        watch: {
            pagination() {
                this.getTagsByPagination();
            },
            search(){
                this.getTagsByPagination();
            }

        },
        methods:{
            getTagsByPagination(){
                this.loading = true;
                return new Promise((resolve,reject) => {
                    const { sortBy, descending, page, itemsPerPage } = this.pagination
                    this.pagination.limit = itemsPerPage;
                    if(this.search){
                        this.pagination.title = this.search;
                    }
                    this.$axios.get('/tag', this.pagination)
                        .then(response =>{
                            //this.$store.dispatch('fetchTags',this.pagination)
                            //  .then(response => {
                            this.loading = false;
                            this.tags = response.data.data;
                            console.log(this.tags);
                            this.total = response.data.meta.total;
                        })

                })
            },


            deleteTag(item){
                console.log(item)
                this.$refs.confirm.open('Delete '+item.title,'Are you sure?',{color:'red'})
                    .then((confirm) => {
                        if(confirm){
                            //if true, call delete end point
                            this.$axios.delete('/tag/'+item.id)
                            //this.$store.dispatch('deleteTag',item.id)
                                .then(response =>{
                                    this.$store.dispatch('app/showSuccessSnackbar',response.data.message);
                                    this.getTagsByPagination()

                                })
                        }
                        else{

                        }
                    })
            }

        }
    }
</script>

<style scoped>
    .height-inherit{
        height: inherit;
    }
</style>

`