<template>
    <v-container>
        <v-card class="elevation-12">
            <v-card-title>
                <div>
                    <h3 class="headline">{{title}}</h3>

                </div>
            </v-card-title>
            <v-card-text>

                <v-form ref="slider" v-model="valid">
                    <v-container grid-list-md text-md-center>
                        <v-row row wrap align-center>
                            <input type="hidden" v-model="slider.id"/>
                            <v-col md="12">
                                <v-text-field
                                        name="slider"
                                        label="Title * "
                                        type="text"
                                        v-model="slider.title"
                                        v-validate
                                        data-vv-name="title"
                                        :error-messages="errors.first('title')"
                                ></v-text-field>
                            </v-col>
                            <v-col md="12">
                                <v-text-field
                                        label="Description"
                                        type="text"
                                        v-model="slider.description"
                                        v-validate
                                        data-vv-name="description"
                                        :error-messages="errors.first('description')"
                                ></v-text-field>
                            </v-col>

                            <v-col md="6" >
                                <v-file-input
                                        name="featured"
                                        v-model="featured"
                                        label="Select Image File..."
                                ></v-file-input>
                            </v-col>

                        </v-row>
                    </v-container>

                </v-form>

            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>

                <v-btn color="primary" :disabled="!valid" @click="saveSlider">Save
                </v-btn>
                <v-btn @click="$router.go(-1)">Cancel

                </v-btn>

            </v-card-actions>

        </v-card>
    </v-container>
</template>

<script>

    export default {
        name: "id",
        layout:'admin',
        async asyncData({params,app}){

        },
        head() {
            return {
                title: this.title
            }
        },
        data() {
            return {
                alert: false,
                valid: true,
                requiredRules: [
                    v => !!v || 'Required field'
                ],
                formData:null,
                File:this.featured,
                id:null,
                featured:null,
                slider:{}
            }
        },
        async created(){
            if(this.$route.params.id ==='create'){
                this.slider={
                }

            }
            else {
                const {data} = await this.$axios.get('/slider/'+this.$route.params.id);
                this.slider=data.data
            }
        },
        inject: ['$validator'],
        methods:{
            saveSlider(){
                if(this.$refs.slider.validate()){


                    var formData = new FormData();
                    formData.append('title',this.slider.title)
                    formData.append('description',this.slider.description)
                    if(this.featured){
                        formData.append('featured',this.featured)
                    }
                    if(this.slider.id){
                        formData.append('_method', "put");
                        this.$axios.post('/slider/'+this.slider.id,formData)
                            .then(response => {
                                this.$store.commit('setLoading',false);
                                this.$store.dispatch('app/showSuccessSnackbar','Slider was created successfully');
                                this.$router.push({name: 'admin-slider'});

                            })
                            .catch(error => {
                                if(error.response.status === 422 || error.response.status === 400){
                                    for(let key in error.response.data){
                                        // we are fetching only first error
                                        this.$validator.errors.add({field: key, msg: error.response.data[key][0]})
                                    }
                                }
                            })
                    }else {
                        this.$axios.post('/slider',formData)
                            .then(response => {
                                this.$store.dispatch('app/showSuccessSnackbar','Category was created successfully');
                                this.$router.push({name:'admin-slider'});
                            })
                            .catch(error => {
                                if(error.response.status === 422 || error.response.status === 400){
                                    for(let key in error.response.data){
                                        // we are fetching only first error
                                        this.$validator.errors.add({field: key, msg: error.response.data[key][0]})
                                    }
                                }
                            })
                    }

                }
            },
            handleFileUpload(slider) {
                this.featured = slider.target.files[0]
            },
        },
        computed: {
            title(){
                if(this.slider.id){
                    return "Edit "+ this.slider.title
                }
                else
                    return "Create Slider "

            }
        }
    }
</script>

<style scoped>

</style>
