<template>
    <v-container >
        <v-card class="elevation-12">
            <v-toolbar color="white">
                <v-toolbar-title>Create/Edit/Delete Slider</v-toolbar-title>
                <v-spacer></v-spacer>


                <v-toolbar-items>
                    <v-btn text :to="{name: 'admin-slider-id',params:{id:'create'}}">Create a Slider</v-btn>
                </v-toolbar-items>
                <v-toolbar-items>
                    <v-text-field
                            v-model="search"
                            light
                            prepend-icon="mdi-search"
                            placeholder="Type keyword...">
                    </v-text-field>
                </v-toolbar-items>

            </v-toolbar>
            <v-data-table
                    :items="slider"
                    :headers="headers"
                    :options.sync="pagination"
                    :server-items-length="total"
                    :items-per-page-options="pageSize"
                    :loading="loading">
                <template v-slot:item="props">
                    <tr>
                    <td>{{ props.index +1 + ((pagination.page-1) * pagination.itemsPerPage) }}</td>
                    <td>{{ props.item.title }}</td>
                    <td><img :src="props.item.featured" height="100px" width="100px"/> </td>
                    <td>{{ props.item.description }}</td>
                    <td>
                        <nuxt-link :to="{name: 'admin-slider-id',params: {id: props.item.id}}">
                            <v-icon color="primary" small class="mr-2" @click="" >
                                mdi-pencil
                            </v-icon>
                        </nuxt-link>
                        <v-icon color="red" @click="deleteSlider(props.item)" small >
                            mdi-delete
                        </v-icon>
                    </td>
                    </tr>
                </template>

                <template slot="no-data">
                    <v-alert :value="true" color="error" icon="warning">
                        Sorry, No Sliders Yet.
                    </v-alert>
                </template>
            </v-data-table>



        </v-card>
        <confirm ref="confirm"></confirm>
    </v-container>
</template>

<script>
    import { mapGetters, mapActions,mapState} from 'vuex';
    import Confirm from "../../../components/Confirm";

    export default {
        name: "slider",
        layout: 'admin',
        props:{
            msg:String
        },

        components: {
            Confirm
        },
        data(){
            return {
                headers: [
                    {text: 'SN',sortable: false,value:'sn'},
                    {text: 'Title', sortable: true, value:'title'},
                    {text: 'Image', sortable: true, value:'featured'},
                    {text: 'Description', sortable: false, value:'description'},
                    {text: 'Actions', sortable: false},

                ],
                total:0,
                search:null,
                pagination: {},
                loading: true,
                slider:[],

            }
        },
        head() {
            return {
                title:'Slider List'
            }
        },
        created: function(){

        },
        mounted(){
        },
        computed: {
            ...mapGetters({
            }),

            excelFileName(){
                return 'SliderList '+ new Date().toDateString()+'.xlsx'
            }
        },
        watch: {
            pagination() {
                this.getSliderByPagination();
            },
            search(){
                this.getSliderByPagination();
            }

        },
        methods:{
            getSliderByPagination(){
                this.loading = true;
                const { sortBy, descending, page, itemsPerPage } = this.pagination
                this.pagination.limit = itemsPerPage;
                if(this.search){
                    this.pagination.event_name = this.search;
                }
                this.$axios.get('slider',{params:this.pagination}).then(response => {
                    this.slider = response.data.data;
                    this.total = response.data.meta.total;
                    this.loading = false;
                })
            },

            deleteSlider(item){
                this.$refs.confirm.open('Delete ' + item.title, 'Are you sure?', {color: 'red'})
                    .then((confirm) => {
                        if (confirm) {
                            this.$axios.delete('/slider/' + item.id)
                                .then(response => {
                                    this.$store.dispatch('app/showSuccessSnackbar','Slider was deleted successfully');
                                    this.getSliderByPagination();
                                })
                                .catch(error => {
                                    this.$toast.error('Unable to delete Slider');
                                })
                        }
                    })
            }

        }
    }
</script>

<style scoped>
    .height-inherit{
        height: inherit;
    }
</style>
