<template>
    <div class="blogs">
        <section id="blogs">
             <div class="container">
                  <div class="row">
                      <div class="col-md-12">
                          <h1>{{data.title}}</h1>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-9">
                          <div class="row">
                              <div class="col-sm-12 col-md-12">
                                  <div class="blog">
                                      <img v-if="data.featured" :src="data.featured" class="img-fluid blog-img">
                                      <p v-if="data.description" v-html="data.description"></p>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-3 pop">
                          <h3 class="popular-title">Our Popular Blogs</h3>
                          <div class="popular-blogs">
                              <ul class="list-unstyled">
                                  <li v-for="(popblog,index) in popularblogs.slice(0,5)" :key="index">
                                      <div class="row">
                                          <div class="col-sm-4 col-md-4">
                                              <img :src="popblog.featured">
                                          </div>
                                          <div class="col-sm-8 col-md-8">
                                              <h4><nuxt-link :to="{name:'blog-slug-id',params:{id:popblog.id, slug:popblog.slug}}">{{popblog.title}}</nuxt-link></h4>
                                              <p v-if="popblog.description" v-html="popblog.description.substring(0,30)"></p>
                                          </div>
                                      </div>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
        </section>
    </div>
</template>

<script>
    export default {
        name: "slug",
        layout:'default',
        auth:false,
        data(){
            return{
                blogs:[],
                item:'',
                data:{},
                meta_desc:''
            }
        },
        async asyncData ({ params, app }) {
            //console.log(params.id)
            const {data} = await app.$axios.get('/post/slug/'+params.slug)
            const blog=await app.$axios.get('/post',{params:{category:4,status:'published'}})
            return {
                data: data.data,
                loading: false,
                blogs: blog.data.data,
                item:data.data.slug,
                meta_desc: data.data.meta_description || data.data.description.substring(0,120).replace(/<\/?[^>]+(>|$)/g, ""),
            }
        },
        head () {
            return {
                title: this.data.title,
                meta: [
                    // hid is used as unique identifier. Do not use `vmid` for it as it will not work
                    { hid: 'description', name: 'description', content: this.meta_desc }
                ]
            }
        },
        computed:{
            popularblogs(){
                this.blogs = this.blogs.filter(item => item.id != this.$route.params.id);
                this.mostViewedItems = this.blogs.filter(item => item.counts >=0);
                return this.mostViewedItems.sort(function(a, b){return b.counts - a.counts});                  }
        }
    }
</script>

<style scoped lang="scss">
    $primaryOrange:#f26226;
    $primaryBlue:#0F346C;
    $lightBlue:#1854AF;
    $fontMoon: 'Montserrat', sans-serif;
    $fontCabin:  'Cabin', sans-serif;
    h1,h2,h3,h4,h5,h6{
        font-family: $fontCabin;
    }
    p{
        font-family: $fontMoon;
    }
    #blogs{
        padding: 4rem 0rem;
        background: #F2F1F7;
        h1{
            font-size: 28px;
            line-height: 32px;
            margin-bottom: 0rem;
            font-family: $fontMoon;
            letter-spacing: 1px;
        }
        .blog{
            margin-bottom: 2rem;
            h3{
                font-size: 22px;
                margin:{
                    top: 14px;
                }
            }
            p{
                font-size: 14px;
                line-height: 25px;
            }
            .blog-img{
                width: 100%;
                height: 450px;
                object-fit: cover;
                margin-bottom: 1rem;
            }
            &:hover{
                h3{
                    color: $primaryBlue;
                    text-decoration: underline;
                }
            }
        }
        .pop {
            background: #fff;
            .popular-title {
                font-size: 20px;
                font-family: $fontMoon;
                margin-bottom: 20px;
            }
            .popular-blogs {

                li {
                    margin-bottom: 1rem;
                    border-bottom: 1px solid #999999;
                    transition: all .2s ease-in;
                    img {
                        width: 100%;
                        height: 60px;
                        border-radius: 50%;
                        object-fit: cover;
                        @media(max-width: 575px) {
                            width: 100px;
                        }
                    }
                    h4 {
                        font-size: 16px;
                        line-height: 20px;
                        a {
                            color: $primaryBlue;
                            text-decoration: none;

                        }
                    }
                    p{
                        color: #666666;
                        font-size: 14px;
                        line-height: 20px;
                        margin-bottom: 5px;
                    }
                    &:hover{
                        padding-left: 5px;
                        h4{
                            a{
                                color: $primaryOrange;
                            }
                        }
                    }
                }
            }
        }
    }

</style>
