<template>
    <v-container>
        <v-card class="elevation-12">
            <v-card-title>
                <div>
                    <h3 class="headline">Manage a Site</h3>

                </div>
            </v-card-title>
            <v-card-text>

                <v-form ref="site" v-model="valid">
                    <v-container grid-list-md text-md-center>
                        <v-layout row wrap align-center>
                            <input type="hidden" v-model="site"/>
                            <v-flex md12 sm12>
                                <v-text-field
                                        name="title"
                                        label="Title *"
                                        type="text"
                                        v-model="site.title"
                                        :rules="requiredRules"
                                        v-validate
                                        data-vv-name="title"
                                        :error-messages="errors.first('title')"
                                ></v-text-field>
                            </v-flex>
                            <v-flex md12 sm12>
                                <v-text-field
                                        name="slogan"
                                        label="Slogan"
                                        type="text"
                                        v-model="site.slogan"
                                ></v-text-field>
                            </v-flex>
                            <v-flex md12 sm12>
                                <v-text-field
                                        name="description"
                                        label="Description "
                                        type="text"
                                        v-model="site.description"
                                ></v-text-field>
                            </v-flex>
                            <v-flex md6 sm6>
                                <v-text-field
                                        name="website"
                                        label="Website *"
                                        type="text"
                                        v-model="site.website"
                                        :rules="requiredRules"
                                        v-validate
                                        data-vv-name="website"
                                        :error-messages="errors.first('website')"
                                ></v-text-field>
                            </v-flex>
                            <v-flex md6 sm6>
                                <v-text-field
                                        name="email"
                                        label="Email *"
                                        type="text"
                                        v-model="site.email"
                                        :rules="requiredRules"
                                        v-validate
                                        data-vv-name="email"
                                        :error-messages="errors.first('email')"
                                ></v-text-field>
                            </v-flex>
                            <v-flex md6 sm6>
                                <v-text-field
                                        name="address"
                                        label="Address *"
                                        type="text"
                                        v-model="site.location"
                                        :rules="requiredRules"
                                        v-validate
                                        data-vv-name="address"
                                        :error-messages="errors.first('address')"
                                ></v-text-field>
                            </v-flex>
                            <v-flex md6 sm6>
                                <v-text-field
                                        name="telephone"
                                        label="Telephone*"
                                        type="text"
                                        v-model="site.telephone"
                                        v-validate
                                        :rules="requiredRules"
                                        data-vv-name="telephone"
                                        :error-messages="errors.first('telephone')"
                                ></v-text-field>
                            </v-flex>
                            <v-flex md6 sm6>
                                <v-text-field
                                        name="working_days"
                                        label="Working Days *"
                                        type="number"
                                        v-model="site.working_days"
                                        :rules="requiredRules"
                                        v-validate
                                        data-vv-name="working_days"
                                        :error-messages="errors.first('working_days')"
                                ></v-text-field>
                            </v-flex>

                            <v-flex md6 sm6>
                                <v-text-field
                                        name="facebook"
                                        label="Facebook Link *"
                                        type="text"
                                        v-model="site.facebook"
                                        :rules="requiredRules"
                                        v-validate
                                        data-vv-name="facebook"
                                        :error-messages="errors.first('facebook')"
                                ></v-text-field>
                            </v-flex>
                            <v-flex md6 sm6>
                                <v-text-field
                                        name="google"
                                        label=" Google "
                                        type="text"
                                        v-model="site.google"
                                ></v-text-field>
                            </v-flex>
                            <v-flex md6 sm6>
                                <v-text-field
                                        name="twitter"
                                        label="Twitter"
                                        type="text"
                                        v-model="site.twitter"
                                ></v-text-field>
                            </v-flex>
                            <v-flex md6 sm6>
                                <v-text-field
                                        name="instagram"
                                        label="Instagram"
                                        type="text"
                                        v-model="site.instagram"
                                ></v-text-field>
                            </v-flex>
                            <v-flex md6 sm6>
                                <v-text-field
                                        name="linkedin"
                                        label="Linkedin"
                                        type="text"
                                        v-model="site.linkedin"
                                ></v-text-field>
                            </v-flex>
                            <v-flex md6 sm6>
                                <v-text-field
                                        name="skype"
                                        label="Skype"
                                        type="text"
                                        v-model="site.skype"
                                ></v-text-field>
                            </v-flex>
                            <v-flex md12 sm12 text-sm-left >
                                <v-label
                                >Logo Image:</v-label>
                                <br>
                                <img style="max-width: 200px;height: 150px" :src="site.logo"  v-if="site.logo"><br/>

                                <input
                                        name="logo"
                                        label="Image "
                                        type="file"
                                        @change="handleFileUpload"
                                />
                            </v-flex>
                        </v-layout>
                    </v-container>

                </v-form>

            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>

                <v-btn color="primary" :disabled="!valid" @click="saveSetting">Save
                </v-btn>
                <v-btn @click="$router.go(-1)">Cancel

                </v-btn>

            </v-card-actions>

        </v-card>
    </v-container>
</template>

<script>
    import { mapGetters, mapActions,mapState} from 'vuex';
    import Confirm from "../../../components/Confirm";

    export default {
        name: "site",
        layout: 'admin',
        async asyncData({app,params}){
            const {data} = await app.$axios.get('/site')
            //console.log(data)
            return {
                site: data.data,
            }

        },
        data() {
            return {
                alert: false,
                valid: true,
                requiredRules: [
                    v => !!v || 'Required field'
                ],
                featured: null,
                formData:null,
                id:null,
            }
        },
        inject: ['$validator'],
        methods:{
            saveSetting(){
                if(this.$refs.site.validate()){
                    //for image converting all to formdata
                    var formData = new FormData();
                    formData.append('title',this.site.title);
                    formData.append('slogan',this.site.slogan);
                    formData.append('description',this.site.description);
                    formData.append('website',this.site.website);
                    formData.append('email',this.site.email);
                    formData.append('location',this.site.location);
                    formData.append('telephone',this.site.telephone);
                    formData.append('working_days',this.site.working_days);
                    formData.append('facebook', this.site.facebook);
                    formData.append('google', this.site.google);
                    formData.append('twitter', this.site.twitter);
                    formData.append('instagram', this.site.instagram);
                    formData.append('linkedin', this.site.linkedin);
                    formData.append('skype', this.site.skype);

                    //quick fix since for author user_id need to be send

                    if (this.logo) {
                        formData.append('logo', this.logo);
                    }
                    if(this.site.id){
                        // formData.append('_method', "put");
                        this.$axios.post('/site',formData)
                            .then(response => {
                                this.$store.commit('setLoading',false);
                                this.$toast.success('site was edited successfully');
                                this.$router.push({name:'admin-site'});
                            })
                            .catch(error => {
                                if(error.response.status === 422 || error.response.status === 400){
                                    for(let key in error.response.data){
                                        // we are fetching only first error
                                        this.$validator.errors.add({field: key, msg: error.response.data[key][0]})
                                    }
                                }
                            })
                    }

                }
            },

            handleFileUpload(event) {
                this.logo = event.target.files[0]
            },

        },
        created: function(){

        },
        computed: {

        }

    }
</script>

<style scoped>

</style>