<template>
    <v-container>
        <v-card class="elevation-12">
            <v-card-title>
                <div>
                    <h3 class="headline">{{title}}</h3>

                </div>
            </v-card-title>
            <v-card-text>

                <v-form ref="post" v-model="valid">
                    <v-container grid-list-md text-md-center>
                        <v-row row wrap align-center>
                            <input type="hidden" v-model="post.id"/>
                            <v-col md="12">
                                <v-text-field
                                        name="posttitle"
                                        label="Title *"
                                        type="text"
                                        v-model="post.title"
                                        :rules="requiredRules"
                                        v-validate
                                        data-vv-name="title"
                                        :error-messages="errors.first('title')"
                                ></v-text-field>
                            </v-col>

                            <v-col class="text-sm-left">

                                <no-ssr placeholder="Loading Your Editor...">
                                    <v-label>Description *</v-label>
                                    <tiny-mce
                                            :init="{'plugins': 'table image emoticons preview'}"
                                            v-model="post.description"
                                            :error-messages="errors.first('description')"
                                            data-vv-name="description"></tiny-mce>
                                </no-ssr>

                                <!--for showing html
                               <div class="quill-code">
                                 <code class="hljs" v-html="post.description"></code>
                               </div>-->
                            </v-col>

                            <v-col md="12">
                                <v-autocomplete
                                        name="category"
                                        :items="categories"
                                        label="Category *"
                                        v-model="post.category_id"
                                        item-text="title"
                                        item-value="id"
                                        :rules="requiredRules"
                                ></v-autocomplete>
                            </v-col>

                            <v-col md="6">
                                <v-autocomplete
                                        name="status"
                                        :items="statusOptions"
                                        label="Status *"
                                        v-model="post.status"
                                        :rules="requiredRules"
                                ></v-autocomplete>
                            </v-col>

                            <v-col md="6">
                                <v-autocomplete
                                        name="tags"
                                        :items="tags"
                                        label="Tags "
                                        v-model="post.tags_id"
                                        item-text="title"
                                        item-value="id"
                                        multiple chips
                                ></v-autocomplete>
                                <!--<v-autocomplete-->
                                <!--name="tags"-->
                                <!--:items="tags"-->
                                <!--label="Tags "-->
                                <!--ref="tags"-->
                                <!--v-model="post.tags_id"-->
                                <!--item-text="title"-->
                                <!--item-value="id"-->
                                <!--multiple-->
                                <!--&gt;</v-autocomplete>-->
                            </v-col>
                            <v-col md="12">
                                <v-textarea
                                        name="meta_description"
                                        label="Meta Description "
                                        type="text"
                                        v-model="post.meta_description"
                                        v-validate
                                        data-vv-name="meta_description"
                                        :error-messages="errors.first('meta_description')"
                                ></v-textarea>
                            </v-col>

                            <v-col md="6" class="text-sm-left" >
                                <v-label
                                >Feature Image:</v-label><br/>
                                <img style="max-width: 200px;height: 150px" :src="post.featured_medium"  v-if="post.featured">
                                <br/><br/>
                                <input
                                        name="featured"
                                        label="Featured Image "
                                        type="file"
                                        @change="handleFileUpload"
                                />
                            </v-col>
                            <!--<v-col md="6" class="text-sm-left">-->
                            <!--<v-flex v-if="id === 'create'">-->
                            <!--<v-label>Post Images *:</v-label><br/>-->
                            <!--<div v-if="post.image">-->
                            <!--<img style="max-width: 200px;height: 150px; margin-right:5px;" :src="img.url"  v-for="(img, index) in post.image">-->
                            <!--</div>-->
                            <!--<br/>-->

                            <!--<input-->
                            <!--name="image"-->
                            <!--label="Post Gallery "-->
                            <!--type="file"-->
                            <!--multiple-->
                            <!--@change="handleFileUpload"-->

                            <!--/>-->

                            <!--</v-flex>-->


                            <!--</v-col>-->

                            <!-- additional Attribtues-->
                            <v-col md="12" >
                                <h3 v-if="post.attributes">Additional Attributes</h3>
                                <v-row v-for="(attribute,key) in post.attributes" :key="key">
                                    <v-col md="3">
                                        <v-text-field v-model="key" label="key" v-if="isSuperAdmin"></v-text-field>
                                        <v-label  label="key" v-if="isAdmin">{{key}}</v-label>
                                    </v-col>
                                    <v-col md="8">
                                        <v-text-field v-if="attribute['type'] === 'text'" v-model="post.attributes[key]['value']" label="Property value"></v-text-field>
                                        <v-text-field v-if="attribute['type'] === 'number'" v-model="post.attributes[key]['value']" label="Property value"></v-text-field>
                                        <no-ssr placeholder="Loading Your Editor..." v-if="attribute['type'] === 'editor'">
                                            <tiny-mce
                                                    :init="{'plugins': 'table image emoticons preview'}"
                                                    v-model="post.attributes[key]['value']"
                                            ></tiny-mce>
                                        </no-ssr>
                                        <a style="width: 40%" class="btn"
                                           v-if="attribute['type'] === 'media'"
                                           :href="attribute['url']">{{key}}</a>
                                        <input type="file" id="change"
                                               v-if="attribute['type'] === 'media'"
                                               v-on:change="changeMediaUpload(key , $event)"/>

                                        <v-switch v-if="attribute['type'] === 'switch'" v-model="post.attributes[key]['value']" label="Property value"></v-switch>
                                    </v-col>
                                    <v-icon v-if="isSuperAdmin" @click="remove(key)"  color="red">close</v-icon>
                                </v-row>
                                <h4 v-if="isSuperAdmin">Add additional Attributes</h4>
                                <v-row v-if="isSuperAdmin">

                                    <v-col md="3">
                                        <v-text-field v-model="Aproperty" label="Property Name"></v-text-field>
                                    </v-col>
                                    <v-col md="6">
                                        <v-text-field v-if="Atype ==='text'" v-model="Avalue" label="Property value"></v-text-field>
                                        <v-textarea v-if="Atype === 'editor'" v-model="Avalue" label="Property value"></v-textarea>
                                        <v-text-field v-if="Atype ==='number'" v-model="Avalue" label="Property value"></v-text-field>
                                        <input type="file" id="uploadFile1" v-if="Atype === 'media'" ref="file1"
                                               v-on:change="handleMediaUpload()"/>

                                        <v-switch v-if="Atype === 'switch'" v-model="Avalue" label="Property value"></v-switch>
                                    </v-col>
                                    <v-col md="2">
                                        <v-autocomplete
                                                v-model="Atype"
                                                :items="Atypes"
                                                label="Attribute Type">
                                        </v-autocomplete>
                                    </v-col>
                                    <v-col md="1">
                                        <v-btn @click="add(Aproperty,Avalue,Atype)">Add</v-btn>
                                    </v-col>
                                </v-row>
                            </v-col>

                        </v-row>
                    </v-container>

                </v-form>

            </v-card-text>

            <v-card-actions>
                <v-spacer></v-spacer>

                <v-btn color="primary" :disabled="!valid" @click="savePost">Save
                </v-btn>
                <v-btn @click="$router.go(-1)">Cancel

                </v-btn>
            </v-card-actions>

        </v-card>

        <confirm ref="confirm"></confirm>
    </v-container>
</template>

<script>
    import { mapGetters, mapActions,mapState} from 'vuex';
    import Confirm from "../../../components/Confirm";
    import Vue from 'vue'
    import slugify from 'slugify'
    import hljs from 'highlight.js'
    if (process.browser) {
        require('@tinymce/tinymce-vue')
    }
    export default {
        name: "id",
        layout: 'admin',
        components: {
            Confirm
        },
        async asyncData({params,store,app}){
            if(params.id ==='create'){
                store.dispatch('post/clearPost');
                const {data} = await app.$axios.get('/category')

                return {
                    id:params.id,
                    post: {
                        attributes: {}
                    },
                    categories:data.data
                }
            }
            else {
                //const {data} = await store.dispatch('post/fetchPost', params.id)
                const catdata = await app.$axios.get('/category')
                const tags = await app.$axios.get('/tag')
                const {data}  = await app.$axios.get('/post/'+params.id)
                // copies the deep clone since mutation in not permitted
                //let post = JSON.parse(JSON.stringify(data.data));
                let post = data.data

                return {
                    id: params.id,
                    post: post,
                    tags: tags.data.data,
                    categories:catdata.data.data

                }
            }
            // preparation for meta tags


        },
        head(){
            let post = this.post
            return {
                title: 'Edit Post',
                /*might not need for admin but for public pages */
            }
        },
        data() {
            return {
                alert: false,
                valid: true,
                requiredRules: [
                    v => !!v || 'Required field'
                ],
                featured: null,
                formData:null,
                tags: [],
                File:this.images,
                id:null,
                statusOptions: [{text: 'Published', value: 'published'}, {text: 'Draft', value: 'draft'}],
                post:{},

                //attribute related variable
                Aproperty: '',
                Avalue: '',
                Atype: 'text',
                Aurl: null,
                file1: null,
                change: null,
                Atypes: [
                    { text: 'Text', value:'text'},
                    { text: 'Editor', value:'editor'},
                    { text: 'Media', value:'media'},
                    { text: 'Switch', value:'switch'}
                ],
                files:[]

            }
        },
        inject: ['$validator'],
        methods:{
            fetchPost(){
                if(this.id){
                    if(this.id ==='create'){
                        this.$store.dispatch('post/clearPost');

                    }
                    else {
                        this.$store.dispatch('post/fetchPost',this.id)
                            .then(response => {
                                this.post = response.data.data;
                            })
                    }
                }
            },
            getTags(){
                this.$axios.get('/tag')
                    .then(response =>{
                        this.loading = false;
                        this.tags = response.data.data;
                        //this.total = response.data.meta.total;
                    })
            },
            savePost(){
                if(this.$refs.post.validate()){

                    //for image converting all to formdata
                    var formData = new FormData();
                    formData.append('id',this.post.id);
                    formData.append('title',this.post.title);
                    // formData.append('slug',this.post.slug);
                    formData.append('description',this.post.description);
                    formData.append('category_id',this.post.category_id);
                    formData.append('status',this.post.status);


                    if(this.post.meta_description){
                        formData.append('meta_description',this.post.meta_description);
                    }
                    const attributes = JSON.stringify(this.post.attributes)
                    formData.append('attributes', attributes);
                    //quick fix since for author user_id need to be send
                    if (this.featured) {
                        formData.append('featured', this.featured);
                    }


                    if(this.post.tags_id && this.post.tags_id.length > 0) {
                        formData.append('tags_id', this.post.tags_id);
                    }
                    if(this.post.id){
                        formData.append('_method', "put");
                        this.$axios.post('/post/'+this.post.id,formData)
                            .then(response => {
                                this.$store.commit('setLoading',false);
                                this.$store.dispatch('app/showSuccessSnackbar','Post was edited successfully');
                                this.$router.push({name:'admin-post'});
                            })
                            .catch(error => {
                                if(error.response.status === 422 || error.response.status === 400){
                                    for(let key in error.response.data){
                                        // we are fetching only first error
                                        this.$validator.errors.add({field: key, msg: error.response.data[key][0]})
                                    }
                                }
                            })
                    }
                    else{
                        this.$axios.post('/post',formData)
                            .then(response => {
                                this.$store.dispatch('app/showSuccessSnackbar','Post was created successfully');
                                this.$router.push({name:'admin-post'});
                            })
                            .catch(error => {
                                if(error.response.status === 422 || error.response.status === 400){
                                    for(let key in error.response.data){
                                        // we are fetching only first error
                                        this.$validator.errors.add({field: key, msg: error.response.data[key][0]})
                                    }
                                }
                            })
                    }
                }
            },
            handleFileUpload(event) {
                this.featured = event.target.files[0]
            },
            // attribute method
            changeMediaUpload(propertyName, event) {
                this.change = event.target.files[0];
                if (this.change) {
                    var formData = new FormData();

                    formData.append('file', this.change);
                    this.$axios.post('/site/media/delete', {
                        file: this.post.attributes[propertyName].type.value
                    }).then(response => {
                        this.$axios.post('/site/upload', formData).then(response => {

                            this.post.attributes[propertyName].value = response.data.file;
                            this.post.attributes[propertyName].url = response.data.url;

                            // show snackbar
                        }).catch((error) => {

                        })
                    }).catch((error) => {

                    })

                }
            },
            handleMediaUpload() {
                this.file1 = this.$refs.file1.files[0];
                if (this.file1) {
                    var formData = new FormData();

                    formData.append('file', this.file1);

                    this.$axios.post('/site/upload', formData).then(response => {

                        this.Avalue = response.data.file;
                        this.Aurl = response.data.url;

                        // need to show snackbar
                    }).catch((error) => {

                    })
                }


            },

            remove(property) {
                if (this.post.attributes[property].type === 'media') {
                    this.$axios.post('/site/media/delete', {
                        file: this.post.attributes[property].type.value
                    }).then(response => {
                        Vue.delete(this.post.attributes, property);

                    }).catch((error) => {

                    })
                } else {
                    Vue.delete(this.post.attributes, property);

                }
            },

            add(property, value, type) {
                if(type !== 'switch' ){
                    if(this.Aproperty.trim() === '' && this.Avalue.trim() == ''){
                        return;
                    }
                }


                if (type === 'media') {
                    var property1 = {
                        'value': value,
                        'type': type,
                        'url': this.Aurl
                    };
                } else {
                    var property1 = {
                        'value': value,
                        'type': type,

                    };
                }
                this.post.attributes[property] = property1;

                this.Aproperty = '';
                this.Avalue = null;
                this.Aurl = null;
                this.Atype = 'text';
            },
            // removeImg(imag){
            //     this.$refs.confirm.open('Delete ' + imag.name, 'Are you sure?', {color: 'red'})
            //         .then((confirm) => {
            //             if (confirm) {
            //                 this.$axios.delete('/post/' + imag.id)
            //                     .then(response => {
            //                         this.$store.dispatch('app/showSuccessSnackbar','Gallery image was deleted successfully');
            //                                                     })
            //                     .catch(error => {
            //                         this.$toast.error('Unable to delete gallery image');
            //                     })
            //             }
            //         })
            //
            // },
            // handleFilesUpload(event) {
            //     this.image  = event.target.files
            // },


        },
        created: function(){

            this.getTags();

        },
        computed: {
            title(){
                if(this.post.id){
                    return "Edit "+ this.post.slug
                }
                else
                    return "Create Post"

            },
            postTitle(){
                return this.post.title
            },
            categoryId(){
                return this.post.category_id;
            }
        },
        watch: {
            postTitle: function(val) {
                this.post.slug= slugify(val,{lower:true});
            },
            categoryId:function(val){
                /*this will work only if it is on create as on edit attributes can be changed*/
                if(!this.post.id){
                    let selCat = this.categories.find(cat => cat.id === val);
                    console.log(selCat)
                    this.post.attributes = selCat.attributes
                }


            }
        }
    }
</script>

<style scoped lang="scss">

    .quill-editor {
        min-height: 200px;
        max-height: 400px;
        overflow-y: auto;

    }
    .wrapper{
        display: flex;
        flex-wrap: wrap;
        .img-card {
            position: relative;
            .gal-img{
                width: 150px;
                height: 100px;
                object-fit: cover;
                margin-right: 15px;
            }
            .remove-icon{
                position: absolute; top: -10px;
                background: rgba(0,0,0,0.4);
                border-radius: 50%;
                right: 10px;
            }
        }
    }


</style>
