<template>
    <v-container >
        <v-card class="elevation-12">
            <v-toolbar color="white">
                <v-toolbar-title>Create/Edit/Delete Post</v-toolbar-title>
                <v-spacer></v-spacer>

                <v-toolbar-items>
                    <v-btn text :to="{name: 'admin-post-id',params:{id:'create'}}">Create a Post</v-btn>
                </v-toolbar-items>
                <v-toolbar-items>
                    <v-text-field
                            v-model="search"
                            light
                            prepend-icon="mdi-magnify"
                            placeholder="Type keyword...">
                    </v-text-field>
                </v-toolbar-items>

            </v-toolbar>
            <v-data-table
                    :items="post"
                    :headers="headers"
                    :options.sync="pagination"
                    :server-items-length="total"
                    :items-per-page-options="pageSize"
                    :loading="loading">
                <template  v-slot:item="props">
                    <tr>
                    <td>{{ props.index +1 + ((pagination.page-1) * pagination.itemsPerPage) }}</td>

                    <td>{{ props.item.title }}</td>
                     <td><p  v-if="props.item.description" v-html="props.item.description"></p></td>
                    <td>{{ props.item.category.title }}</td>
                    <td>{{ props.item.status }}</td>
                    <!--<td>{{ props.item.position }}</td>-->
                    <td>
                        <nuxt-link :to="{name: 'admin-post-id',params: {id: props.item.id}}">
                            <v-icon color="primary" small class="mr-2" @click="" >
                                mdi-pencil
                            </v-icon>
                        </nuxt-link>
                        <v-icon color="red" @click="deletePost(props.item)" small >
                            mdi-delete
                        </v-icon>
                    </td>
                    </tr>
                </template>

                <template slot="no-data">
                    <v-alert :value="true" color="error" icon="warning">
                        Sorry, No Post Yet.
                    </v-alert>
                </template>
            </v-data-table>



        </v-card>
        <confirm ref="confirm"></confirm>
    </v-container>
</template>

<script>
    import { mapGetters, mapActions,mapState} from 'vuex';
    import Confirm from "../../../components/Confirm";

    export default {
        name: "member",
        layout: 'admin',
        props:{
            msg:String
        },

        components: {
            Confirm
        },
        data(){
            return {
                headers: [
                    {text: 'SN',sortable: false,value:'sn'},
                    {text: 'Title', sortable: true, value:'title'},
                    {text: 'Description', sortable: true, value:'description'},
                    {text: 'Category', sortable: true, value:'category'},
                    {text: 'Status', sortable: true, value:'status'},
                    {text: 'Actions', sortable: false},
                ],
                total:0,
                search:null,
                pagination: {},
                loading: true,
                member:[],
                post:[]


            }
        },
        watch: {
            pagination() {
                this.getPostByPagination();
            },
            search(){
                this.getPostByPagination();
            }

        },
        methods:{
            getPostByPagination(){
                this.loading = true;
                const { sortBy, descending, page, itemsPerPage } = this.pagination
                this.pagination.limit = itemsPerPage;
                if(this.search){
                    this.pagination.name = this.search;
                }
                this.$axios.get('post',{params:this.pagination}).then(response => {
                    this.post = response.data.data;
                    this.total = response.data.meta.total;
                    this.loading = false;
                })
            },

            deletePost(item){
                this.$refs.confirm.open('Delete ' + item.title, 'Are you sure?', {color: 'red'})
                    .then((confirm) => {
                        if (confirm) {
                            this.$axios.delete('/post/' + item.id)
                                .then(response => {
                                    this.$store.dispatch('app/showSuccessSnackbar','Post was deleted successfully');
                                    this.getPostByPagination();
                                })
                                .catch(error => {
                                    this.$toast.error('Unable to delete Post');
                                })
                        }
                    })
            }

        },
        head() {
            return {
                title:'Post List'
            }
        },
        created: function(){

        },
        mounted(){
        },


    }
</script>

<style scoped>
    .height-inherit{
        height: inherit;
    }
</style>
