<template>
    <v-app id="inspire" >
        <v-navigation-drawer
                v-model="drawer"
                :clipped="$vuetify.breakpoint.lgAndUp"
                app
        >
            <v-list dense>
                <template v-for="item in items">
                    <v-row
                            v-if="item.heading"
                            :key="item.heading"
                            align="center"
                    >
                        <v-col cols="6">
                            <v-subheader v-if="item.heading">
                                {{ item.heading }}
                            </v-subheader>
                        </v-col>
                        <v-col
                                cols="6"
                                class="text-center"
                        >
                            <a
                                    href="#!"
                                    class="body-2 black--text"
                            >EDIT</a>
                        </v-col>
                    </v-row>
                    <v-list-group
                            v-else-if="item.children"
                            :key="item.text"
                            v-model="item.model"
                            :prepend-icon="item.model ? item.icon : item['icon-alt']"
                            append-icon=""
                    >
                        <template v-slot:activator>
                            <v-list-item-content >
                                <v-list-item-title >
                                    {{ item.text }}
                                </v-list-item-title>
                            </v-list-item-content>
                        </template>
                        <v-list-item
                                v-for="(child, i) in item.children"
                                :key="i"
                                link
                                :to="child.action"
                        >
                            <v-list-item-action v-if="child.icon" >
                                <v-icon>{{ child.icon }}</v-icon>
                            </v-list-item-action>
                            <v-list-item-content>
                                <v-list-item-title>
                                    {{ child.text }}
                                </v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>
                    </v-list-group>
                    <v-list-item
                            v-else
                            :key="item.text"
                            link
                    >
                        <v-list-item-action >
                            <v-icon>{{ item.icon }}</v-icon>
                        </v-list-item-action>
                        <v-list-item-content>
                            <v-list-item-title>
                                {{ item.text }}
                            </v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </template>
            </v-list>
        </v-navigation-drawer>
        <v-app-bar
                color="blue darken-3"
                dark
                app
                :clipped-left="$vuetify.breakpoint.mdAndUp"
                fixed

        >
            <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
            <v-toolbar-title v-text="title" />
            <!--<v-toolbar-title style="width: 300px" class="ml-0 pl-3">
              <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
              <span class="hidden-sm-and-down">{{title}}</span>
            </v-toolbar-title>-->
            <!--<v-text-field
                    flat
                    solo-inverted
                    prepend-icon="search"
                    label="Search"
                    class="hidden-sm-and-down"
            ></v-text-field>-->
            <v-spacer></v-spacer>
            <!--<v-btn icon>
              <v-icon>mdi-apps</v-icon>
            </v-btn>-->
            <v-menu bottom left v-if="loggedIn">
                <template v-slot:activator="{ on }">
                    <v-btn
                            v-on="on"
                            dark
                            icon
                    >
                        <v-avatar size="30px" v-if="user.avatar"><img :src="user.avatar"></v-avatar>
                        <v-avatar v-if="!user.avatar"> <v-icon>account_circle</v-icon></v-avatar>

                    </v-btn>
                </template>
                <v-card max-width="200">
                    <v-list class="pa-0">
                        <div avatar class="mx-12">
                            <v-list-item-avatar v-if="user.avatar">
                                <img width="300" :src="user.avatar"> </img>
                            </v-list-item-avatar>
                        </div>
                        <v-list-item>
                            <v-list-item-content>
                                <v-list-item-title v-if="user.name">{{ user.name}}</v-list-item-title>
                                <v-list-item-sub-title>{{ user.email}}</v-list-item-sub-title>
                            </v-list-item-content>
                        </v-list-item>
                    </v-list>
                    <v-divider></v-divider>
                    <v-list>
                        <v-list-item >
                            Profile
                        </v-list-item>

                    </v-list>
                    <v-divider></v-divider>
                    <v-list>
                        <v-list-title @click="logout">
                            <v-icon>mdi-exit-to-app</v-icon>
                            Logout

                        </v-list-title>
                    </v-list>


                </v-card>

            </v-menu>
            <v-tooltip v-else>
                <v-btn slot="activator"  icon >
                    <v-icon >mdi-exit_to_app</v-icon>
                </v-btn>
                <span>Log in</span>
            </v-tooltip>

        </v-app-bar>
        <v-content>
            <Nuxt> /</Nuxt>
        </v-content>

        <!--reusable-->


        <v-snackbar
                :timeout="3000"
                bottom
                right
                :color="snackbar.color"
                :value="snackbar.show"
        >
            {{ snackbar.text }}
            <v-btn dark text @click="closeSnackbar" icon>
                <v-icon>mdi-close</v-icon>
            </v-btn>
        </v-snackbar>

        <Confirm ></Confirm>
    </v-app>
</template>

<script>
    import { mapGetters,mapMutations} from 'vuex';
    import Confirm from '~/components/Confirm.vue'
    export default {
        name: "admin",

        data() {
            return {
                clipped: false,
                fixed: false,
                miniVariant: false,
                right: true,
                rightDrawer: false,
                drawer: null,
                items: [

                    {icon: 'mdi-chevron-up',
                        'icon-alt': 'mdi-chevron-down',
                        text: 'Slider ',
                        children: [
                            {icon:'mdi-plus', text:'Create a Slider', action:'/admin/slider/create'},
                            {icon:'mdi-format-list-bulleted', text:'Slider', action:'/admin/slider'},
                        ]
                    },{icon: 'mdi-chevron-up',
                        'icon-alt': 'mdi-chevron-down',
                        text: 'Tags ',
                        children: [
                            {icon:'mdi-plus', text:'Create a Tag', action:'/admin/tag/create'},
                            {icon:'mdi-format-list-bulleted', text:'Tags', action:'/admin/tag'},
                        ]
                    },{icon: 'mdi-chevron-up',
                        'icon-alt': 'mdi-chevron-down',
                        text: 'Category ',
                        children: [
                            {icon:'mdi-plus', text:'Create a Category', action:'/admin/category/create'},
                            {icon:'mdi-format-list-bulleted', text:'Categories', action:'/admin/category'},
                        ]
                    },
                    { icon: 'mdi-chevron-up',
                        'icon-alt': 'mdi-chevron-down',
                        text: 'Post ',
                        children: [
                            {icon:'mdi-plus', text:'Create a Post', action:'/admin/post/create'},
                            {icon:'mdi-format-list-bulleted', text:'Posts', action:'/admin/post'},
                        ]
                    },
                    {  icon: 'mdi-chevron-up',
                        'icon-alt': 'mdi-chevron-down',
                        text: 'User ',
                        children: [
                            {icon:'mdi-plus', text:'Create an User', action:'/admin/user/create'},
                            {icon:'mdi-format-list-bulleted', text:'Users', action:'/admin/user'},
                        ]
                    },
                    { icon: 'mdi-chevron-up',
                        'icon-alt': 'mdi-chevron-down',
                        text: 'Site ',
                        children: [
                            {icon:'mdi-format-list-bulleted', text:'Manage a Site', action:'/admin/site'},
                        ]
                    },
                    {   icon: 'mdi-chevron-up',
                        'icon-alt': 'mdi-chevron-down',
                        text: ' Contact ',
                        children: [
                            {icon:'mdi-format-list-bulleted', text:'Contact ', action:'/admin/contact'},
                        ]
                    },

                ],
            }
        },
        components: {Confirm},
        computed: {
            appTitle(){
                return this.$store.state.appTitle
            },
            isAuthenticated(){
                return false;
            },
        },
        methods: {
            ...mapMutations('app',['closeSnackbar']),
            logout(){
                this.$auth.logout();
            }
        },
        created: function() {
            this.$parent.$confirm = this.$refs.confirm;
        }
    }
</script>

<style scoped>

</style>
