<template>
  <transition>
    <keep-alive>
      <v-app>
        <SiteHeader/>
        <Nuxt></Nuxt>
        <SiteFooter/>
      </v-app>
    </keep-alive>
  </transition>
</template>

<script>
    import SiteHeader from '@/components/page/SiteHeader.vue'
    import SiteFooter from '@/components/page/SiteFooter.vue'
    export default {
        name: "default",
        components: {
            SiteHeader, SiteFooter
        }
    }
</script>
<style>
  *,
  *:before,
  *:after {
    box-sizing: border-box;
    margin: 0;
  }
  /*body,html{*/
  /*height: 100%;*/
  /*overflow-x: hidden;*/
  /*}*/
  span, applet, object, iframe,
  p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

  body p {
    font-family: 'Roboto', sans-serif;
    /*line-height: .8;*/
  }
  ol, ul { list-style: none; }
  :root {
    --theme-red-color: #F74703;
    --theme-yellow-color: #ffbe30;

  }

  .page-enter-active {
    animation: acrossIn .45s ease-out both;
  }

  .page-leave-active {

  }

  @keyframes acrossIn {
    0% {
      transform: translate3d(-100%, 0, 0);
    }
    100% {
      transform: translate3d(0, 0, 0);
    }
  }

  @keyframes acrossOut {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(100%, 0, 0);
    }
  }

  .slide-left-enter,
  .slide-right-leave-active {
    opacity: 0;
    transform: translate(30px, 0);
  }
  .slide-left-leave-active,
  .slide-right-enter {
    opacity: 0;
    transform: translate(-30px, 0);
  }


</style>
