<template>
  <transition>
    <keep-alive>
      <v-app>
        <Nuxt></Nuxt>
      </v-app>
    </keep-alive>
  </transition>
</template>

<script>
    export default {
        name: "site"
    }
</script>

<style scoped>

</style>
