<template>
    <div class="aboutus">
        <section id="aboutus">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 about-col" v-if="about">
                                <h2>Know More About Us</h2>
                                <h1>About US</h1>
                                <div class="blog">
                                    <img v-if="about" :src="about.featured" class="img-fluid blog-img">
                                    <p  v-html="about.description"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="quick">
                        <h3>Quick Links</h3>
                            <b-list-group>
                                <b-list-group-item class="listgrp"><nuxt-link to="/">Home</nuxt-link></b-list-group-item>
                                <b-list-group-item class="listgrp"><nuxt-link to="/#features">Features</nuxt-link></b-list-group-item>
                                <b-list-group-item class="listgrp"><nuxt-link to="/blogs">Our Blogs</nuxt-link></b-list-group-item>
                                <b-list-group-item class="listgrp"><nuxt-link to="/contact-us">Contact Us</nuxt-link></b-list-group-item>
                            </b-list-group>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    export default {
        name: "about-us.vue",
        layout:'default',
        auth:false,
        async asyncData({params, app}) {
            const {data} = await app.$axios.get('/post',{params:{category:1, status:'published'}})
            console.log({data})

            const post = data.data || []
            return {
                posts: post
            }
        },
        data(){
            return{
                posts:[]
            }
        },
        head () {
            return {
                title: process.env.SITE_NAME+' About Us Page',
                meta: [
                    // hid is used as unique identifier. Do not use `vmid` for it as it will not work
                    { hid: 'description', name: 'description', content: process.env.SITE_NAME+' about us page' }
                ]
            }
        },
        computed:{
            about(){
                if(this.posts.length>0){
                    return this.posts[0];
                }

            }
        }
    }
</script>

<style scoped lang="scss">
    $primaryOrange:#f26226;
    $primaryBlue:#0F346C;
    $lightBlue:#1854AF;
    $fontMoon: 'Montserrat', sans-serif;
    $fontCabin:  'Cabin', sans-serif;
    h1,h2,h3,h4,h5,h6{
        font-family: $fontCabin;
    }
    p{
        font-family: $fontMoon;
    }
    #aboutus{
        padding: 4rem 0rem;
        background: #F2F1F7;
        .about-col{
            h2{
                font-size: 14px;
                color: $primaryOrange;
                text-transform: uppercase;
                line-height: 20px;
                margin-bottom: 5px;
            }
            h1{
                font-size: 30px;
                line-height: 36px;
                font-weight: 400 !important;
                font-family: $fontMoon;
                margin-bottom: 1.5rem;
            }
        }

        .blog{
            margin-bottom: 2rem;
            h3{
                font-size: 22px;
                margin:{
                    top: 14px;
                }
            }
            p{
                font-size: 14px;
            }
            .blog-img{
                width: 100%;
                height: 450px;
                object-fit: cover;
                margin-bottom: 1rem;
            }
            &:hover{
                h3{
                    color: $primaryBlue;
                    text-decoration: underline;
                }
            }
        }
        .quick{
            h3{
                font-size: 18px;
                font-family: $fontMoon;
                color: #343434;
                margin-bottom: 1rem;
            }
            .listgrp{
                padding: .5rem 1rem;
                a{
                    color: #339AF0;
                    font-size: 14px;
                    text-decoration: none;
                    transition: all .2s ease-in;
                    &:hover{
                        color: #343434;
                    }
                }
                &:hover{
                    a{
                        padding-left: 10px;
                        color: #343434;
                    }
                }
            }
        }
    }

</style>