<template>
    <div class="features">
        <section id="features">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 features-heading">
                        <p>Explore all features</p>
                        <h1>Software Features</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-sm-6 col-md-4" id="my-page" v-for="(feature,index) in features" :key="index">
                                <div class="feature">
                                    <img :src="feature.featured" class="img-fluid feature-img">
                                    <h3 v-if="feature.title">{{feature.title}}</h3>
                                    <p v-if="feature.description" v-html="feature.description"></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    export default {
        name: "blogs.vue",
        layout:'default',
        auth:false,
        async asyncData({params, app}) {
            const {data} = await app.$axios.get('/post',{params:{category:3, status:'published'}})
            const post = data.data || []
            return {
                features: post,

            }
        },
        head () {
            return {
                title: process.env.SITE_NAME+' Features Page',
                meta: [
                    // hid is used as unique identifier. Do not use `vmid` for it as it will not work
                    { hid: 'description', name: 'description', content:process.env.SITE_NAME+' features page' }
                ]
            }
        },
        data(){
            return{
                features:[],

            }
        },
        computed:{},

        async created(){

        },
    }
</script>

<style scoped lang="scss">
    $primaryOrange:#f26226;
    $primaryBlue:#0F346C;
    $lightBlue:#1854AF;
    $fontMoon: 'Montserrat', sans-serif;
    $fontCabin:  'Cabin', sans-serif;
    h1,h2,h3,h4,h5,h6{
        font-family: $fontCabin;
    }
    p{
        font-family: $fontMoon;
    }
    #features {
        padding: 4rem 0rem;
        background: #F2F1F7;
        .features-heading {
            p {
                font-size: 14px;
                color: $primaryOrange;
                text-transform: uppercase;
                line-height: 20px;
                margin-bottom: 5px;
            }
            h1 {
                font-size: 28px;
                margin-bottom: 1rem;
            }
        }
        .feature {
            margin-bottom: 2rem;
            background: #fff;
            padding: 5px 8px;
            border-radius: 3px;
            height: auto;
            h3 {
                font-size: 20px;
                margin: {
                    top: 14px;
                }
                a {
                    color: $primaryOrange;
                    text-decoration: none;
                    &:hover {
                        color: $primaryBlue;
                    }
                }

            }
            p {
                color: #666666;
                font-size: 15px;
            }
            .feature-img {
                width: 100%;
                height: 200px;
                border-radius: 3px;
                object-fit: cover;
            }

        }
        .pop {
            background: #fff;
            .popular-title {
                font-size: 20px;
                font-family: $fontMoon;
                margin-bottom: 20px;
            }
            .popular-blogs {

                li {
                    margin-bottom: 1rem;
                    border-bottom: 1px solid #999999;
                    transition: all .2s ease-in;
                    img {
                        width: 100%;
                        height: 60px;
                        border-radius: 50%;
                        object-fit: cover;
                        @media(max-width: 575px) {
                            width: 100px;
                        }
                    }
                    h4 {
                        font-size: 16px;
                        line-height: 20px;
                        a {
                            color: $primaryBlue;
                            text-decoration: none;

                        }
                    }
                    p{
                        color: #666666;
                        font-size: 14px;
                        line-height: 20px;
                        margin-bottom: 5px;
                    }
                    &:hover{
                        padding-left: 5px;
                        h4{
                            a{
                                color: $primaryOrange;
                            }
                        }
                    }
                }
            }
        }
    }

</style>
