<template>
    <div class="blogs">
        <section id="blogs">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 blogs-heading">
                        <p>Read Our Latest Articles</p>
                        <h1>Our Blogs</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-sm-12 col-md-4" id="my-page" v-for="(blog,index) in blogs" :key="index">
                                <div class="blog">
                                    <img :src="blog.featured" class="img-fluid blog-img">
                                    <h3><nuxt-link :to="{name:'blog-slug-id',params:{id:blog.id, slug:blog.slug}}">{{blog.title}}</nuxt-link></h3>
                                    <p v-html="blog.description.substr(0,60)"></p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="my-4" v-if="blogs.length>0">
                                <b-pagination
                                        v-model="currentPage"
                                        :total-rows="totals"
                                        :per-page="perPage"
                                        aria-controls="my-page"
                                ></b-pagination>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 pop">
                        <h3 class="popular-title">Our Popular Blogs</h3>
                        <div class="popular-blogs">
                            <ul class="list-unstyled">
                                <li v-for="(popblog,index) in popularblogs.slice(0,5)" :key="index">
                                    <div class="row">
                                        <div class="col-sm-4 col-md-4">
                                            <img :src="popblog.featured">
                                        </div>
                                        <div class="col-sm-8 col-md-8">
                                            <h4><nuxt-link :to="{name:'blog-slug-id',params:{id:popblog.id, slug:popblog.slug}}">{{popblog.title}}</nuxt-link></h4>
                                            <p v-if="popblog.description" v-html="popblog.description.substring(0,20)"></p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    export default {
        name: "blogs.vue",
        layout:'default',
        auth:false,
        async asyncData({params, app}) {
            const {data} = await app.$axios.get('/post',{params:{category:4, status:'published'}})
            console.log({data})
            const post = data.data || []
            return {
                blogs: post,
                totals: data.meta.total
            }
        },
        head () {
            return {
                title: process.env.SITE_NAME+' Blogs Page',
                meta: [
                    // hid is used as unique identifier. Do not use `vmid` for it as it will not work
                    { hid: 'description', name: 'description', content:process.env.SITE_NAME+' blogs page' }
                ]
            }
        },
        data(){
            return{
                blogs:[],
                popblogs:[],
                perPage: 9,
                currentPage: 1,
                totals:null

            }
        },
        computed:{
            popularblogs(){
                this.mostViewedItems = this.blogs.filter(item => item.counts >=0);
                return this.mostViewedItems.sort(function(a, b){return b.counts - a.counts});            }
        },
        watch:{
            currentPage(val){
                if(val){
                    this.$axios.get('/post',{params:{category:4, status:'published', page:val,limit: this.perPage}}).then(response => {
                        this.blogs = response.data.data
                        this.totals = response.data.meta.total

                    })
                }
            }
        },
        async created(){

        },
    }
</script>

<style scoped lang="scss">
    $primaryOrange:#f26226;
    $primaryBlue:#0F346C;
    $lightBlue:#1854AF;
    $fontMoon: 'Montserrat', sans-serif;
    $fontCabin:  'Cabin', sans-serif;
    h1,h2,h3,h4,h5,h6{
        font-family: $fontCabin;
    }
    p{
        font-family: $fontMoon;
    }
    #blogs {
        padding: 4rem 0rem;
        background: #F2F1F7;
        .blogs-heading {
            p {
                font-size: 14px;
                color: $primaryOrange;
                text-transform: uppercase;
                line-height: 20px;
                margin-bottom: 5px;
            }
            h1 {
                font-size: 28px;
                margin-bottom: 1rem;
            }
        }
        .blog {
            margin-bottom: 2rem;
            background: #fff;
            padding: 5px;
            border-radius: 3px;
            height: 300px;
            h3 {
                font-size: 20px;
                margin: {
                    top: 14px;
                }
                a {
                    color: $primaryOrange;
                    text-decoration: none;
                    &:hover {
                        color: $primaryBlue;
                    }
                }

            }
            p {
                color: #666666;
                font-size: 15px;
            }
            .blog-img {
                width: 100%;
                height: 200px;
                border-radius: 3px;
                object-fit: cover;
            }
            &:hover {
                h3 {
                    padding-left: 5px;
                    padding-right: 5px;
                    transition: all .1s ease-in 0.1s;
                    a {
                        color: #333333;
                        border-bottom: 2px solid $primaryOrange;
                    }
                }
                p {
                    padding-left: 5px;
                    padding-right: 5px;
                    padding-bottom: 10px;
                    transition: all .1s ease-in 0.2s;
                }
            }
        }
        .pop {
            background: #fff;
        .popular-title {
            font-size: 20px;
            font-family: $fontMoon;
            margin-bottom: 20px;
        }
        .popular-blogs {

            li {
                margin-bottom: 1rem;
                border-bottom: 1px solid #999999;
                transition: all .2s ease-in;
                img {
                    width: 100%;
                    height: 60px;
                    border-radius: 50%;
                    object-fit: cover;
                    @media(max-width: 575px) {
                        width: 100px;
                    }
                }
                h4 {
                    font-size: 16px;
                    line-height: 20px;
                    a {
                        color: $primaryBlue;
                        text-decoration: none;

                    }
                }
                p{
                    color: #666666;
                    font-size: 14px;
                    line-height: 20px;
                    margin-bottom: 5px;
                }
                &:hover{
                    padding-left: 5px;
                    h4{
                        a{
                            color: $primaryOrange;
                        }
                    }
                }
            }
        }
    }
    }

</style>
