<template>
    <div id="contact-us">
        <section id="contactus">
            <div class="container">
                <div class="row c-text-row">
                    <div class="col-md-12 text-left">
                        <p class="c-f-text">Contact us</p>
                        <h4 class="c-f-heading">Submit Your Queries!</h4>
                    </div>
                </div>
                <div class="row c-form">
                    <div class="col-md-6 col-sm-12">
                        <div class="box">
                            <form>
                                <div class="form-group">
                                    <label for="name">Name<sup class="text-danger">*</sup>:</label>
                                    <input type="text" class="form-control" id="name" v-model="fields.name" placeholder="Full name">
                                </div>
                                <div class="form-group">
                                    <label for="email">Email<sup class="text-danger">*</sup>:</label>
                                    <input type="text" class="form-control" id="email" v-model="fields.email" placeholder="Your email">
                                </div>
                                <div class="form-group">
                                    <label for="subject">Subject<sup class="text-danger">*</sup>:</label>
                                    <input type="text" class="form-control" id="subject" v-model="fields.subject" placeholder="Subject">
                                </div>
                                <div class="form-group">
                                    <label for="message">Message<sup class="text-danger">*:</sup></label>
                                    <textarea class="form-control" id="message" v-model="fields.message" rows="3"></textarea>
                                </div>
                                <v-dialog
                                        v-model="messageSuccess"
                                        width="500"
                                >
                                    <v-card class="cmessage">
                                        <v-card-title class="cmessage-title">
                                            <h5>Message Sent</h5>
                                        </v-card-title>
                                    <div class="message-success">
                                        <b-alert
                                                show
                                                variant="success"

                                        >
                                            <p><i class="fa fa-check-circle" aria-hidden="true"></i></p>
                                            <p class="success-title">Your message has been successfully sent, we will contact you soon!</p>
                                        </b-alert>
                                    </div>
                                        <div class="closebtn" @click="closeDialog">X</div>
                                    </v-card>
                                </v-dialog>
                                <button type="button" class="btn btn-send mt-4 w-50" @click="sendForm">Send Message</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 site-info">
                    <div class="site">
                        <div class="py-2"  >
                            <ul class="list-unstyled" >
                                <li v-if="site.telephone"><v-icon>mdi-phone mr-2</v-icon>{{site.telephone}}</li>
                                <li v-if="site.email"><v-icon>mdi-email mr-2</v-icon>{{site.email}}</li>
                                <li v-if="site.location"><v-icon>mdi-map-marker mr-2</v-icon>{{site.location}}</li>
                                <li v-if="site.website"><v-icon>mdi-earth mr-2</v-icon>{{site.website}}</li>
                            </ul>
                        </div>
                        <div class="py-2 social">
                            <h5>Social Links:</h5>
                            <ul class="list-unstyled">
                                <li><a v-if="site.facebook" :href="site.facebook" target="_blank"><v-icon>mdi-facebook</v-icon>
                                </a></li>
                            </ul>
                        </div>
                    </div>
                        <iframe src="https://www.google.com/maps/d/embed?mid=1e3BBTWFc-nWkiOI_Ey2oSHyhHqQ" width="100%" height="300"></iframe>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    export default {
        name: "contact-us",
        auth:false,
        head ()
        {
            return {
                title: process.env.SITE_NAME+' Contact Page',
                meta: [
                    // hid is used as unique identifier. Do not use `vmid` for it as it will not work
                    { hid: 'description', name: 'description', content: process.env.SITE_NAME+' contact page' }
                ]
            }
        },
        data(){
            return{
                // bg: require('@/assets/images/site/lakh-bg.png'),
                //img1:require('@/assets/images/pokhara.jpg'),
                fields: {},
                errors: {},
                success: false,
                loaded: true,
                site:{},
                messageSuccess: false

            }
        },
        async created() {
            const sites = await this.$axios.get('/site');
            const site =sites.data.data;
            this.site = site;

        },
        methods:{
            sendForm() {
                if (this.loaded) {
                    this.loaded = false;
                    this.$axios.post('/contact', this.fields).then(response => {
                        this.fields = {}; //Clear input fields.
                        this.loaded = true;
                        this.messageSuccess = true;
                        if(this.success){
                            this.$refs['message-modal'].show()
                        }

                        setTimeout(function () {
                            this.$refs['message-modal'].hide()
                            this.messageSuccess = false
                        }.bind(this), 2000)
                    }).catch(error => {
                        this.loaded = true;
                        if (error.response.status === 422) {
                            this.errors = error.response.data.errors || {};
                            this.messageSuccess = false;
                        }
                    });
                }
            },
            closeDialog(){
                this.messageSuccess = false;
            }
        }
    }
</script>
<style scoped lang="scss">
    $primaryOrange:#f26226;
    $primaryBlue:#339AF0;
    $lightBlue:#1854AF;
    $fontMoon: 'Montserrat', sans-serif;
    $fontCabin:  'Cabin', sans-serif;
    #contact-us{
        padding: 4rem 0rem;
        padding-top: 0rem;
    }
    @media(max-width: 767px){
        #contact-us{
            padding-top: 0rem;
        }
    }
    .row-bg {
        position: relative;
        text-align: center;
        min-width: 100%;
        height: 280px;
        object-fit: cover;
        /*background: url(../assets/images/pokhara.jpg);*/
        /*background: linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../assets/images/pokhara.jpg);*/
    }
    .overlay-content{
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        a{color: #fff;
            margin-right: 2rem;
            &:hover{
                color:#FFBE30;
            }
        }
        p span{
            font-weight: 600;
            color: #fff;
            &:before{
                content: "|";
                padding-right: 2rem;
            }
        }
    }
    .c-text{
        text-transform: uppercase;
        font-size: 20px;
        letter-spacing: 5px;
        color: #fff;
    }
    .c-heading{
        color: #fff;
        text-transform: uppercase;
        font-size: 2.5rem;
        margin-top: 15px;
        span{
            color: #FFBE30;
            font-weight: 600;
        }
    }
    .c-text-row{
        padding: 2rem 0rem;
        .c-f-text{
            text-transform: uppercase;
            font-size: 16px;
            letter-spacing: 0px;
            color: $primaryOrange;
            margin-bottom: 5px;
        }
        .c-f-heading{
            color: #333333;
            letter-spacing: 1px;
            font-size: 24px;
            line-height: 28px;
            margin-top: 15px;
            font-family: $fontMoon;
            span{
                font-weight: 600;
            }
        }
    }
    .c-form{
        .box{
            -webkit-box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.2);
            padding: 1.5rem 1rem;
            label{
                font-size: 14px;
            }
        }

        .btn-send{
            background: $primaryOrange;
            border-radius: 3px;
            color: #fff;
            text-transform: uppercase;
            font-size: 15px;
            font-weight: 600;
            text-align: center;
            line-height: 20px;
            transition: all .1s linear;
        }
        .btn-send:hover{
            background: #0056B3;
            color: #ffffff;
        }
        .site-info{
            .site{
                background: #fff;
                -webkit-box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.2);
                box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.2);
                padding: 1.5rem 1rem;
                margin-bottom: 1rem;
            }
            li{
                font-size: 14.5px;
                font-family: $fontCabin;
                margin-bottom: 14px;
                .v-icon{
                    color: $primaryOrange;
                    font-size: 18px;
                }
            }
            li:last-of-type{
                margin-bottom: 0px;
            }
            .social{
                h5{
                    padding-left: 24px;
                    font-size: 18px;
                    font-family: $fontMoon;
                }
                .v-icon{
                    color:#339AF0;
                }
            }

        }

    }

    @media(max-width: 768px){
        .site-info{
            margin-top: 2rem;

        }
    }
    .cmessage {
        position: relative;
        .closebtn{
            position: absolute;
            top: -5px;
            right: 0;
            height: 30px;
            width: 30px;
            color: #fff;
            padding: 5px 5px 2px 9px;
            font-size: 18px;
            background: #333333;
            cursor: pointer;
        }
        .cmessage-title {
            background:#025E13;
            color: #fff;
            font-family: $fontCabin;
            font-size: 18px;
            padding: .5rem;
        }
        .p-text {
            color: #333333;
            font-size: 15px;
            font-weight: bold;
            span {
                margin-left: 4px;
                color: #F85207;

            }
        }
    }





</style>

