<template>
  <div class="home">
    <section class="sliders">
    <b-carousel
            id="homecarousel"
            v-model="slide"
            :interval="4000"
            controls
            indicators
            background="#ababab"
            style="text-shadow: 1px 1px 2px #333;"
            @sliding-start="onSlideStart"
            @sliding-end="onSlideEnd"
    >

      <b-carousel-slide class="slider-img" v-for="(slider, index) in sliders" :img-src="slider.featured" :key="index">
        <div class="slider-content">
          <h1>{{slider.title}}</h1>
          <p>{{slider.description}}</p>
        </div>
      </b-carousel-slide>
    </b-carousel>
    </section>
    <!-- end slider section -->

    <!-- Features section -->
    <section class="features" id="features">
      <div class="container">
        <div class="row py-2">
          <div class="col-md-12 features-heading">
            <p>Some of the best features of software</p>
            <h2>Software Features <span><nuxt-link to="/all-features">All Features<v-icon>mdi-arrow-right ml-1</v-icon></nuxt-link></span></h2>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-4" v-for="(feature, index) in features.slice(0,3)" :key="index">
            <div class="feature">
              <img v-if="feature.featured" :src="feature.featured">
              <div class="feature-text">
                <h3><span>{{feature.title}}</span></h3>
                <p v-if="feature.description" v-html="feature.description.substring(0,250)"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end features section -->

    <!-- Pricing section -->
    <section class="pricing" id="pricing">
      <div class="container">
        <div class="row py-2">
          <div class="col-md-12 pricing-heading">
            <p>How Much It's Cost</p>
            <h2>Software Price</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-6" v-for="(price, index) in pricing" :key="index">
            <div class="price">
              <img v-if="price.featured" :src="price.featured">
              <div class="price-text">
                <h4 v-if="price.attributes.price.value">NRS, {{price.attributes.price.value}}</h4>
                <h3><span>{{price.title}}</span></h3>
                <p v-if="price.description" v-html="price.description"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- contactcta section -->
    <section class="contactcta">
    <div class="container">
      <div class="row justify-content-center" v-if="ctas">
        <div class="col-sm-12 col-md-8 text-center" v-for="(cta, index) in ctas.slice(0,1)" :key="index">
          <div class="cta">
            <h3>{{cta.title}}</h3>
            <p v-html="cta.description">
            </p>
            <nuxt-link to="/contact-us" class="btn-cta">
              Get Copy Now
            </nuxt-link>
          </div>
        </div>
      </div>
    </div>
    </section>
    <!-- end contactcta section -->

    <!-- Blog section -->
    <section class="blogs" id="blogs">
      <div class="container">
        <div class="row">
          <div class="col-md-12 blogs-heading">
            <p>Read Our Latest Blogs</p>
            <h2>Blogs</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-4" v-for="(blog, index) in blogs" :key="index">
            <div class="blog">
              <img v-if="blog.featured" :src="blog.featured">
              <div class="blog-text">
              <h4><nuxt-link :to="{name:'blog-slug-id',params:{id:blog.id, slug:blog.slug}}">{{blog.title}}</nuxt-link></h4>
              <p v-if="blog.description" v-html="blog.description.substring(0,150)"></p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="allblogs text-center">
              <nuxt-link to="/blogs">All Blogs</nuxt-link>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end blog section -->
    <!-- contact us section  --->
    <section class="contactus" id="contactus">
      <div class="container">
        <div class="row">
          <div class="col-md-12 contact-heading">
            <p>Get In Touch With Us</p>
            <h2>Contact Us</h2>
          </div>
        </div>
        <div class="row" >
          <div class="col-sm-12 col-md-6"  >
            <div class="py-2"  >
              <ul class="list-unstyled con-info" >
                <li v-if="site.telephone" ><v-icon>mdi-phone mr-2</v-icon>{{site.telephone}}</li>
                <li v-if="site.email"><v-icon>mdi-email mr-2</v-icon>{{site.email}}</li>
                <li v-if="site.location"><v-icon>mdi-map-marker mr-2</v-icon>{{site.location}}</li>
                <li v-if="site.website"><v-icon>mdi-earth mr-2</v-icon>{{site.website}}</li>
              </ul>
            </div>
            <div class="socials">
              <h4><span>Social Links</span></h4>
              <ul class="list-unstyled">
                <li><a v-if="site.facebook" :href="site.facebook" target="_blank"><v-icon>mdi-facebook</v-icon>
                  </a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-12 col-md-6">
            <div class="gmap">
              <iframe src="https://www.google.com/maps/d/embed?mid=1e3BBTWFc-nWkiOI_Ey2oSHyhHqQ" width="100%" height="300"></iframe>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end contact us section -->
  </div>
</template>

<script>
    export default {
        layout:'default',
        auth:false,
        async asyncData ({ params, app }) {
            //console.log(params.id)
            const {data} = await app.$axios.get('/post',{params:{category:3, status:'published'}})
            const blog= await app.$axios.get('/post',{params:{category:4,status:'published'}})
            const blogs = blog.data.data || []
            return {
                features: data.data,
                blogs: blogs

            }
        },
        head () {
            return {
                title: process.env.SITE_NAME+' Home Page ',
                meta: [
                    // hid is used as unique identifier. Do not use `vmid` for it as it will not work
                    { hid: 'description', name: 'description', content: process.env.SITE_NAME }
                ]
            }
        },
        data() {
            return {
                slide: 0,
                sliding: null,
              blogs:[],
              site:[],
              sliders:[],
              features:[],
              blog:[],
              featured:[],
              ctas:[],
              pricing:[]
            }
        },
      async created(){
        const sites = await this.$axios.get('/site');
        const slider = await this.$axios.get('/slider');
        const ctas= await this.$axios.get('/post',{params:{category:5,status:'published'}})
        const pricing= await this.$axios.get('/post',{params:{category:6,status:'published'}})
        this.ctas= ctas.data.data;
        this.sliders= slider.data.data;
        this.site= sites.data.data;
        this.pricing = pricing.data.data;

      },
        methods: {
            onSlideStart(slide) {
                this.sliding = true
            },
            onSlideEnd(slide) {
                this.sliding = false
            }
        }
    }
</script>
<style scoped lang="scss">
  $primaryOrange:#f26226;
  $primaryBlue:#0F346C;
  $lightBlue:#1854AF;
  $fontMoon: 'Montserrat', sans-serif;
  $fontCabin:  'Cabin', sans-serif;
  h1,h2,h3,h4,h5,h6{
    font-family: $fontCabin;
  }
  p{
    font-family: $fontMoon;
  }

  .slider-img{
    position: relative;
    height: 480px;
    max-height: 480px;
    width: 100%;
    @media(max-width:768px){
      height: 200px;
      max-height: 200px;
    }
    .slider-content{
      position: absolute;
      bottom: 10rem;
      text-align: left;
      h1{
        color: #fff;
        font-size: 36px;
        line-height: 40px;
        margin-bottom: 14px;
        font-weight: 800;
      }
      p{
        color: #ffffff;
        font-size: 18px;
        line-height: 26px;
        font-weight: 600;
      }
      @media(max-width: 767px){
        display: none;
        h1{
          font-size: 20px;
          line-height: 24px;
        }
        p{
          font-size: 14px;
          line-height: 18px;
        }
      }
      @media(min-width:768px) and (max-width: 900px){
        bottom: 2rem;
      }
    }
  }
  .features{
    padding: 0rem 0rem;
    padding-top: 2rem;
    background: #F2F1F7;
    .features-heading{
      text-align: center;
        p{
          font-size: 14px;
          color: $primaryOrange;
          text-transform: uppercase;
          line-height: 20px;
          margin-bottom: 5px;
        }
        h2{
          font-size: 32px;
          font-weight: 400;
          font-family: $fontMoon;
          letter-spacing: 1px;
          margin-bottom: 14px;
          @media(max-width: 768px){
            font-size: 22px;
          }
          span{
            margin-top: -5px;
            a{
              font-size: 18px;
              color: $primaryBlue;
              text-decoration: none;
              &:hover{
                color: #666666;
              }
            }
          }
        }
    }
    .feature{
      background: #fff;
      padding: 5px;
      border-radius:3px;
      height: 520px;
      img{
        width: 100%;
        height: 300px;
        object-fit: cover;
        border-radius: 3px;
        @media(max-width: 768px){
          height: 200px;
        }
      }
      h3{
        font-size: 20px;
        line-height: 24px;
        padding: 14px 0px;
        color: $primaryOrange;
        @media(max-width: 768px){
          font-size: 20px;
        }
      }
      p{
        font-size: 15px;
      }
      &:hover{
        h3{
          padding-left: 5px;
          padding-right: 5px;
          transition: all .1s ease-in 0.1s;
         span{
           color: #333333;
           border-bottom: 2px solid $primaryOrange;
         }
        }
        p{
          padding-left: 5px;
          padding-right: 5px;
          padding-bottom: 10px;
          transition: all .1s ease-in 0.2s;
        }
      }
    }
    .feature-list{
      padding: 1rem 0rem;
      padding-bottom: 3rem;
      .focus-img{
        img{
          width: 100%;
          height: 300px;
        }
      }
      .ft-lists{
        li{
          height: 30px;
          .fas{
            margin-right: 5px;
            color: $primaryBlue;
          }
        }
      }
      .todayp{
        padding-top:8px;
        .panchang{
          box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
          background: #B5DEFE;
          padding: 8px 5px 5px 8px;
        }
      }
      .feature-text{
        margin-top: 8px;
        @media(max-width: 768px){
          padding-top: 1rem;
        }
      }

    }
  }
  /*pricing section */
  .pricing{
    padding: 0rem 0rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
    background: #F2F1F7;
    .pricing-heading{
      text-align: center;
      p{
        font-size: 14px;
        color: $primaryOrange;
        text-transform: uppercase;
        line-height: 20px;
        margin-bottom: 5px;
      }
      h2{
        font-size: 32px;
        font-weight: 400;
        font-family: $fontMoon;
        letter-spacing: 1px;
        margin-bottom: 14px;
        @media(max-width: 768px){
          font-size: 22px;
        }
        span{
          margin-top: -5px;
          a{
            font-size: 18px;
            color: $primaryBlue;
            text-decoration: none;
            &:hover{
              color: #666666;
            }
          }
        }
      }
    }
    .price{
      background: #fff;
      padding: 10px;
      border-radius:3px;
      height: auto;
      padding-bottom: 14px;
      text-align: center;
      img{
        width: 100%;
        height: 300px;
        object-fit: cover;
        border-radius: 3px;
        @media(max-width: 768px){
          height: 200px;
        }
      }
      h4{
        font-size: 24px;
        font-family: $fontCabin;
        line-height: 28px;
        padding: 14px 0px;
        padding-bottom: 0px;
        color: $primaryBlue;
        @media(max-width: 768px){
          font-size: 20px;
        }
      }
      h3{
        font-size: 20px;
        line-height: 24px;
        padding: 14px 0px;
        color: $primaryOrange;
        @media(max-width: 768px){
          font-size: 20px;
        }
      }
      p{
        font-size: 15px;
        text-align: justify;
      }
    }

    .price-text{
        margin-top: 8px;
        @media(max-width: 768px){
          padding-top: 1rem;
        }
      }

  }
  /* end pricing section */
  .contactcta{
    padding: 2rem 0rem;
    /*background: #339AF0;*/
    background-image: url("../static/astrology.jpg");
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .cta{
      h3{
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 14px;
        color: #ffffff;
        @media(max-width: 768px){
          font-size: 20px;
        }
      }
      p{
        color: #ffffff;
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 25px;
      }
      .btn-cta{
        background: $primaryOrange;
        color: #ffffff;
        padding: 8px 20px;
        border-radius: 3px;
        text-decoration: none;
        &:hover{
          background: #fff;
          color: $primaryOrange;
        }
      }
    }
  }
  .blogs{
    padding: 3rem 0rem;
    background: #F2F1F7;
  .blogs-heading{
    p{
      font-size: 14px;
      color: $primaryOrange;
      text-transform: uppercase;
      line-height: 20px;
      margin-bottom: 5px;
    }
    h2{
      text-align: left;
      font-size: 32px;
      font-weight: 400;
      font-family: $fontMoon;
      letter-spacing: 1px;
      margin-bottom: 14px;
      @media(max-width: 768px){
        font-size: 22px;
      }
    }
  }
    .blog{
      width: 90%;
      max-width: 90%;
      background: #fff;
      padding: 5px;
      border-radius: 3px;
      img{
        width: 100%;
        height: 250px;
        object-fit: cover;
        border-radius: 3px;
        @media(max-width: 768px){
          height: 200px;
        }
      }
      .blog-text{
        height: 135px;
        h4{
          font-size: 20px;
          margin: 14px 0px;
          a{
            color:$primaryOrange;
            text-decoration: none;
            &:hover{
              color: $primaryBlue;
            }
          }
        }
        p{
          color: #666666;
          font-size: 15px;
        }
      }
      &:hover{
        h4{
          padding-left: 5px;
          padding-right: 5px;
          transition: all .1s ease-in 0.1s;
          a{
            color: #333333;
            border-bottom: 2px solid $primaryOrange;
          }
        }
        p{
          padding-left: 5px;
          padding-right: 5px;
          padding-bottom: 10px;
          transition: all .1s ease-in 0.2s;
        }
      }
    }
    .allblogs{
      padding-top: 2rem;
      a{
        background: transparent;
        border: 1px solid $primaryOrange;
        padding: 7px 20px;
        color: #343434;
        font-size: 15px;
        font-family: $fontMoon;
        letter-spacing: .8px;
        border-radius: 3px;
        &:hover{
          text-decoration: none;
          background: transparent;
          border-color: #999999;
          color: $primaryOrange;
        }
      }
    }
  }
  .contactus{
    padding: 3rem 0rem;
    background: #339AF0;
    .contact-heading{
      p{
        font-size: 14px;
        color: #000;
        text-transform: uppercase;
        line-height: 20px;
        margin-bottom: 5px;
      }
      h2 {
        text-align: left;
        font-size: 28px;
        font-weight: 400;
        margin-bottom: 14px;
        font-family: $fontMoon;
        letter-spacing: 1px;
        @media(max-width: 768px) {
          font-size: 22px;
        }
      }
    }

      h4{
        font-size: 18px;
        margin-bottom: 14px;
      }
    .con-info{
      li{
        height: 40px;
        font-size: 15px;
        .v-icon{
          color: #F5f5f5;
          font-size: 18px;
        }
      }
    }
    .socials{
      h4{
        span{
          border-bottom: 1px solid #f5f5f5;
        }
      }
      li{
        height: 30px;
        color: #ffffff;
        font-size: 16px;
        .v-icon{
          color:#fff;
          font-size: 20px;
          &:hover{
            color: #0056B3;
          }
        }
      }
    }

    }

</style>