<template>
  <v-container>
    <v-card class="elevation-12">
      <v-card-title>
        <div>
          <h3 class="headline">{{title}}</h3>

        </div>
      </v-card-title>
      <v-card-text>

        <v-form ref="category" v-model="valid">
          <v-container grid-list-md text-md-center>
            <v-layout row wrap align-center>
              <input type="hidden" v-model="category.id"/>
              <v-flex md12 sm12>
                <v-text-field
                        prepend-icon="mdi-person"
                        name="category"
                        label="Category *"
                        type="text"
                        v-model="category.title"
                        :rules="requiredRules"
                        v-validate
                        data-vv-name="title"
                        :error-messages="errors.first('title')"
                ></v-text-field>
              </v-flex>
              <v-flex md12 sm12>
                <v-text-field
                        prepend-icon="mdi-person"
                        name="description"
                        label="Description *"
                        type="text"
                        v-model="category.description"
                        :rules="requiredRules"
                        data-vv-name="description"
                        :error-messages="errors.first('description')"
                ></v-text-field>
              </v-flex>
              <v-flex md12 sm12 v-if="category.id">
                <v-text-field
                        prepend-icon="mdi-person"
                        name="url"
                        label="Category Position *"
                        type="number"
                        v-model="category.position"
                        :rules="requiredRules"
                ></v-text-field>
              </v-flex>

              <!-- additional Attribtues-->
              <v-col md="12" >
                <h3 v-if="category.attributes">Additional Attributes</h3>
                <v-row v-for="(attribute,key) in category.attributes" :key="key">
                  <v-col md="3">
                    <v-text-field v-model="key" label="key" v-if="isSuperAdmin"></v-text-field>
                    <v-label  label="key" v-if="isAdmin">{{key}}</v-label>
                  </v-col>
                  <v-col md="6">
                    <v-text-field v-if="attribute['type'] === 'text'" v-model="category.attributes[key]['value']" label="Property value"></v-text-field>
                    <v-textarea v-if="attribute['type'] === 'editor'" v-model="category.attributes[key]['value']" label="Property value"></v-textarea>
                    <v-text-field v-if="attribute['type'] === 'number'" v-model="category.attributes[key]['value']" label="Property value"></v-text-field>
                    <a style="width: 40%" class="btn"
                       v-if="attribute['type'] === 'media'"
                       :href="attribute['url']">{{key}}</a>
                    <input type="file" id="change"
                           v-if="attribute['type'] === 'media'"
                           v-on:change="changeMediaUpload(key , $event)"/>

                    <v-switch v-if="attribute['type'] === 'switch'" v-model="category.attributes[key]['value']" label="Property value"></v-switch>
                  </v-col>
                  <v-icon @click="remove(key)" v-if="isSuperAdmin" color="red">mdi-close</v-icon>
                </v-row>
                <h4 v-if="isSuperAdmin">Add additional Attributes</h4>
                <v-row v-if="isSuperAdmin">

                  <v-col md="3">
                    <v-text-field v-model="Aproperty" label="Property Name"></v-text-field>
                  </v-col>
                  <v-col md="6">
                    <v-text-field v-if="Atype ==='text'" v-model="Avalue" label="Property value"></v-text-field>
                    <v-textarea v-if="Atype === 'editor'" v-model="Avalue" label="Property value"></v-textarea>
                    <v-text-field v-if="Atype ==='number'" v-model="Avalue" label="Property value"></v-text-field>
                    <input type="file" id="uploadFile1" v-if="Atype === 'media'" ref="file1"
                           v-on:change="handleMediaUpload()"/>

                    <v-switch v-if="Atype === 'switch'" v-model="Avalue" label="Property value"></v-switch>
                  </v-col>
                  <v-col md="2">
                    <v-autocomplete
                            v-model="Atype"
                            :items="Atypes"
                            label="Attribute Type">
                    </v-autocomplete>
                  </v-col>
                  <v-col md="1">
                    <v-btn @click="add(Aproperty,Avalue,Atype)">Add</v-btn>
                  </v-col>
                </v-row>
              </v-col>

            </v-layout>
          </v-container>

        </v-form>

      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>

        <v-btn color="primary" :disabled="!valid" @click="saveCategory">Save
        </v-btn>
        <v-btn @click="$router.go(-1)">Cancel

        </v-btn>

      </v-card-actions>

    </v-card>
  </v-container>
</template>

<script>
  import { mapGetters, mapActions,mapState} from 'vuex';
  import Vue from 'vue'


  export default {
    name: "id",
    layout:'admin',
    async asyncData({params,store,app}){
      if(params.id ==='create'){
        store.dispatch('category/clearCategory');
        return {
          id:params.id,
          category: {
            attributes: {}
          }
        }
      }
      else {
        // const {data} = await store.dispatch('category/fetchCategory', params.id)
        const data  =await app.$axios.get('/category/'+params.id)
        // copies the deep clone since mutation in not permitted
        let category = JSON.parse(JSON.stringify(data.data));
        return {
          id: params.id,
          category: data.data.data
        }
      }
    },
    data() {
      return {
        alert: false,
        valid: true,
        requiredRules: [
          v => !!v || 'Required field'
        ],
        category:{},
        formData:null,
        id:null,

        //attribute related variable
        Aproperty: '',
        Avalue: '',
        Atype: 'text',
        Aurl: null,
        file1: null,
        change: null,
        Atypes: [
          { text: 'Text', value:'text'},
          { text: 'Number', value:'number'},
          { text: 'Editor', value:'editor'},
          { text: 'Media', value:'media'},
          { text: 'Switch', value:'switch'}
        ]
      }
    },
    inject: ['$validator'],
    methods:{
      fetchCategory(){
        if(this.id){
          if(this.id ==='create'){
            this.$store.dispatch('category/clearCategory');

          }
          else {
            this.$store.dispatch('category/fetchCategory',this.id)
                    .then(response => {
                      this.category = response.data.data;
                    })
          }
        }
      },
      saveCategory(){
        if(this.$refs.category.validate()){

          //for image converting all to formdata
          var formData = new FormData();
          formData.append('id',this.category.id);
          formData.append('title',this.category.title);
          // formData.append('slug',this.category.slug);
          formData.append('description',this.category.description);
          /*if(this.category.meta_description){
            formData.append('meta_description',this.category.meta_description);
          }*/
          const attributes = JSON.stringify(this.category.attributes)
          formData.append('attributes', attributes);
          if(this.category.id){
            formData.append('_method', "put");
            this.$axios.post('/category/'+this.category.id,formData)
                    .then(response => {
                      this.$store.commit('setLoading',false);
                      this.$store.dispatch('app/showSuccessSnackbar','Category was edited successfully');
                      this.$router.push({name:'admin-category'});
                    })
                    .catch(error => {
                      if(error.response.status === 422 || error.response.status === 400){
                        for(let key in error.response.data){
                          // we are fetching only first error
                          this.$validator.errors.add({field: key, msg: error.response.data[key][0]})
                        }
                      }
                    })
          }
          else{
            this.$axios.post('/category',formData)
                    .then(response => {
                      this.$store.dispatch('app/showSuccessSnackbar','Category was created successfully');
                      this.$router.push({name:'admin-category'});
                    })
                    .catch(error => {
                      if(error.response.status === 422 || error.response.status === 400){
                        for(let key in error.response.data){
                          // we are fetching only first error
                          this.$validator.errors.add({field: key, msg: error.response.data[key][0]})
                        }
                      }
                    })
          }
        }
      },
      onFileChange(fieldName, file) {
        const { maxSize } = this
        let categoryFile = file[0]
        if (file.length>0) {
          // let size = categoryFile.size / maxSize / maxSize
          // Append file into FormData and turn file into image URL
          this.formData = new FormData()
          let imageURL = URL.createObjectURL(categoryFile)
          this.formData.append(fieldName, categoryFile)
          // Emit the FormData and image URL to the parent component
        }
      },
      // attribute method
      changeMediaUpload(propertyName, event) {
        this.change = event.target.files[0];
        if (this.change) {
          var formData = new FormData();

          formData.append('file', this.change);
          this.$axios.post('/site/media/delete', {
            file: this.post.attributes[propertyName].type.value
          }).then(response => {
            this.$axios.post('/site/upload', formData).then(response => {

              this.post.attributes[propertyName].value = response.data.file;
              this.post.attributes[propertyName].url = response.data.url;

              // show snackbar
            }).catch((error) => {

            })
          }).catch((error) => {

          })

        }
      },
      handleMediaUpload() {
        this.file1 = this.$refs.file1.files[0];
        if (this.file1) {
          var formData = new FormData();

          formData.append('file', this.file1);

          this.$axios.post('/site/upload', formData).then(response => {

            this.Avalue = response.data.file;
            this.Aurl = response.data.url;

            // need to show snackbar
          }).catch((error) => {

          })
        }


      },

      remove(property) {
        if (this.category.attributes[property].type === 'media') {
          this.$axios.post('/site/media/delete', {
            file: this.category.attributes[property].type.value
          }).then(response => {
            Vue.delete(this.category.attributes, property);

          }).catch((error) => {

          })
        } else {
          Vue.delete(this.category.attributes, property);

        }
      },

      add(property, value, type) {
        if(type !== 'switch' ){
          if(this.Aproperty.trim() === '' && this.Avalue.trim() == ''){
            return;
          }
        }


        if (type === 'media') {
          var property1 = {
            'value': value,
            'type': type,
            'url': this.Aurl
          };
        } else {
          var property1 = {
            'value': value,
            'type': type,

          };
        }
        this.category.attributes[property] = property1;

        this.Aproperty = '';
        this.Avalue = null;
        this.Aurl = null;
        this.Atype = 'text';
      }
    },
    computed: {
      title(){
        if(this.category.id){
          return "Edit "+ this.category.title
        }
        else
          return "Create Category"

      }
    }
  }
</script>

<style scoped>

</style>
