<template>
    <v-container >
        <v-card class="elevation-12">
            <v-toolbar color="white">
                <v-toolbar-title>Create/Edit/Delete Categories</v-toolbar-title>
                <v-spacer></v-spacer>

                <v-toolbar-items>
                    <v-btn text :to="{name: 'admin-category-id',params:{id:'create'}}">Create a Category</v-btn>
                </v-toolbar-items>
                <v-toolbar-items>
                    <v-text-field
                            v-model="search"
                            light
                            prepend-icon="mdi-magnify"
                            placeholder="Type keyword...">
                    </v-text-field>
                </v-toolbar-items>

            </v-toolbar>
            <v-data-table
                    :items="categories"
                    :headers="headers"
                    :options.sync="pagination"
                    :server-items-length="total"
                    :items-per-page-options="pageSize"
                    :loading="loading">
                <template v-slot:item="props">
                    <tr>
                    <td>{{ props.index +1 + ((pagination.page-1) * pagination.itemsPerPage) }}</td>
                    <!--<td>
                        <router-link :to="{name: 'category',params: {id: props.item.id}}">
                            {{props.item.id}}
                        </router-link>
                    </td>-->
                    <td>{{ props.item.title }}</td>
                    <td>{{ props.item.description }}</td>
                    <td>{{ props.item.position }}</td>
                    <td class="justify-center">
                        <nuxt-link :to="{name: 'admin-category-id',params: {id: props.item.id}}">
                        <v-icon color="primary" small class="mr-2" @click="" >
                            mdi-pencil
                        </v-icon>
                        </nuxt-link>
                        <v-icon color="red" @click="deleteCategory(props.item)" small >
                            mdi-delete
                        </v-icon>
                    </td>
                    </tr>
                </template>

                <template slot="no-data">
                    <v-alert :value="true" color="error" icon="warning">
                        Sorry, No Categories Yet.
                    </v-alert>
                </template>
            </v-data-table>



        </v-card>
      <confirm ref="confirm"></confirm>
    </v-container>
</template>

<script>
    import { mapGetters, mapActions,mapState} from 'vuex';
    import Confirm from "../../../components/Confirm";

    export default {
        name: "categories",
        layout:'admin',
        props:{
            msg:String
        },

        components: {
          Confirm
        },
        data(){
            return {
                headers: [
                    {text: 'SN',sortable: false,value:'sn'},
                    {text: 'Title', sortable: true, value:'title'},
                    {text: 'Description', sortable: true, value:'description'},
                    {text: 'Position', sortable: true, value:'position'},
                    {text: 'Actions', sortable: false},
                ],
                total:0,
                search:null,
                pagination: {},
                loading: true

            }
        },
        created: function(){

        },
        mounted(){
        },
        computed: {
            ...mapGetters({
                categories: 'category/categories',
                meta: 'category/meta'
              }),
            getCategory(){
              return this.$store.state.category.categories
            },
            excelFileName(){
                return 'Categorylist '+ new Date().toDateString()+'.xlsx'
            }
        },
        watch: {
            pagination() {
                    this.getCategoriesByPagination();
            },
            search(){
                this.getCategoriesByPagination();
            }

        },
        methods:{
            getCategoriesByPagination(){
              this.loading = true;
              const { sortBy, descending, page, itemsPerPage } = this.pagination
              this.pagination.limit = itemsPerPage;
              if(this.search){
                  this.pagination.title = this.search;
              }
              this.$store.dispatch('category/fetchCategories',this.pagination)
                .then(response => {
                  this.loading = false;
                  this.total = response.data.meta.total;
                })


            },

            deleteCategory(item){

              this.$refs.confirm.open('Delete '+item.title,'Are you sure?',{color:'red'})
                .then((confirm) => {
                    if(confirm){
                        //if true, call delete end point
                        this.$store.dispatch('category/deleteCategory',item.id)
                            .then(response =>{
                                this.$store.dispatch('app/showSuccessSnackbar',"Category was deleted");
                                this.$store.dispatch('category/fetchCategories');

                            })
                          .catch(error => {
                            this.$store.dispatch('app/showErrorSnackbar',error);
                          })
                    }
                })
            }

        }
    }
</script>

<style scoped>
    .height-inherit{
        height: inherit;
    }
</style>
